Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

docs: update claude agents, dev readme
  .claude/agents/artma-method-builder.json
  .claude/agents/artma-tester.json
  README-dev.md
Due: none

feat: add the autonomy system
  AGENTS.md
  CLAUDE.md
  NAMESPACE
  R/autonomy.R
  R/options.R
  inst/artma/data/interactive_mapping.R
  inst/artma/interactive/ask.R
  inst/artma/interactive/effect_summary_stats.R
  inst/artma/interactive/save_preference.R
  inst/artma/libs/core/autonomy.R
  inst/artma/methods/bma.R
  inst/artma/options/prompts.R
  inst/artma/options/templates/options_template.yaml
  man/autonomy.describe.Rd
  man/autonomy.get.Rd
  man/autonomy.is_full.Rd
  man/autonomy.is_set.Rd
  man/autonomy.levels.Rd
  man/autonomy.set.Rd
  tests/testthat/test-autonomy.R
Due: R, artms inst folder

feat: add help suppression for some option prompts
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: add a more robust iv vcov calculation
  inst/artma/econometric/exogeneity.R
Due: artms inst folder

fix: update the methods return objects to print the output into console cleanly
  inst/artma/data/preprocess.R
  inst/artma/methods/bma.R
  inst/artma/methods/effect_summary_stats.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/methods/linear_tests.R
  inst/artma/methods/nonlinear_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/methods/variable_summary_stats.R
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

chore: remove an unused src folder
  utils/src/methods/maive_master_thesis_cala.r
  utils/src/source.R
Due: none

feat: add visualization module; box-plot
  inst/artma/const.R
  inst/artma/interactive/box_plot.R
  inst/artma/methods/box_plot.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/visualization/colors.R
  inst/artma/visualization/export.R
  inst/artma/visualization/index.R
  inst/artma/visualization/theme.R
Due: artms inst folder

fix: box plot rendering, autonomy level detection
  NAMESPACE
  R/globals.R
  R/print.R
  inst/artma/interactive/box_plot.R
  inst/artma/libs/core/autonomy.R
  inst/artma/methods/box_plot.R
  man/print.artma_box_plot.Rd
Due: R, artms inst folder

chore: add a message help
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

fix: pressing enter upon options value ask leads to file/folder choice
  inst/artma/options/template.R
Due: artms inst folder

fix: mice algorithm na handling
  inst/artma/data/na_handling.R
Due: artms inst folder

refactor: make the follow-up user choice prompts respect autonomy
  inst/artma/data/preprocess.R
  inst/artma/interactive/effect_summary_stats.R
  inst/artma/interactive/save_preference.R
  inst/artma/methods/bma.R
Due: artms inst folder

fix: return the main results of the artma method silently
  R/artma.R
Due: R

refactor: clean up the autonomy system
  inst/artma/data/preprocess.R
  inst/artma/libs/core/autonomy.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

feat: add funnel plot
  NAMESPACE
  R/globals.R
  R/print.R
  inst/artma/const.R
  inst/artma/methods/funnel_plot.R
  inst/artma/options/templates/options_template.yaml
  man/print.artma_funnel_plot.Rd
  tests/testthat/test-funnel-plot.R
Due: R, artms inst folder

fix: add proper visualization text to gg plots
  DESCRIPTION
  inst/artma/methods/funnel_plot.R
  inst/artma/visualization/theme.R
Due: artms inst folder

refactor: unify study_id vs. study usage
  R/artma.R
  inst/artma/calc/pcc.R
  inst/artma/data/column_recognition.R
  inst/artma/data/compute.R
  inst/artma/data/na_handling.R
  inst/artma/data/preprocess.R
  inst/artma/data/utils.R
  inst/artma/econometric/p_hacking.R
  inst/artma/interactive/box_plot.R
  inst/artma/methods/box_plot.R
  inst/artma/options/prompts.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/testing/mocks/mock_df.R
  tests/testthat/test-data-auto-detection-confirmation.R
  tests/testthat/test-data-column-recognition.R
  tests/testthat/test-data-column-resolution.R
  tests/testthat/test-data-interactive-mapping.R
  tests/testthat/test-data-preprocess.R
  tests/testthat/test-data-smart-detection.R
  tests/testthat/test-data-utils.R
  tests/testthat/test-options-column-preprocessing.R
Due: R, artms inst folder

fix: failing tests
  tests/testthat/test-data-preprocess.R
  tests/testthat/test-data-utils.R
Due: none

fix: box_plot detection
  inst/artma/methods/box_plot.R
Due: artms inst folder

feat: add a data.preview function
  NAMESPACE
  R/data_preview.R
  R/globals.R
  inst/artma/data/read.R
  man/artma.Rd
  man/data.preview.Rd
  tests/testthat/test-data-preview.R
Due: R, artms inst folder

refactor: unify and clean up visualization logic
  inst/artma/calc/methods/stem.R
  inst/artma/econometric/bma.R
  inst/artma/methods/bma.R
  inst/artma/methods/box_plot.R
  inst/artma/methods/funnel_plot.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/visualization/colors.R
  inst/artma/visualization/index.R
  inst/artma/visualization/options.R
  tests/testthat/test-funnel-plot.R
Due: artms inst folder

feat: add viz public methods
  NAMESPACE
  R/viz.R
  inst/artma/visualization/index.R
  inst/artma/visualization/options.R
  man/viz.get.Rd
  man/viz.set.Rd
  man/viz.themes.Rd
  tests/testthat/test-funnel-plot.R
Due: R, artms inst folder

chore: remove an unused e2e test suite
  tests/E2E/test-methods-legacy-parity.R
Due: none

refactor: make the data config option sparse
  NAMESPACE
  R/data_config.R
  inst/artma/data_config/defaults.R
  inst/artma/data_config/parse.R
  inst/artma/data_config/read.R
  inst/artma/data_config/resolve.R
  inst/artma/data_config/write.R
  inst/artma/interactive/save_preference.R
  man/config.get.Rd
  man/config.overrides.Rd
  man/config.reset.Rd
  man/config.set.Rd
  tests/testthat/test-data-config-defaults.R
  tests/testthat/test-data-config-resolve.R
Due: R, artms inst folder

feat: add a t-stat histogram runtime method
  NAMESPACE
  R/print.R
  inst/artma/const.R
  inst/artma/methods/t_stat_histogram.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/visualization/colors.R
  man/print.artma_t_stat_histogram.Rd
  tests/testthat/test-t-stat-histogram.R
Due: R, artms inst folder

fix: r cmd check notes/warnings
  R/data_preview.R
  R/zzz.R
  man/data.preview.Rd
Due: R

feat: add FMA
  NEWS.md
  R/artma.R
  inst/artma/const.R
  inst/artma/econometric/fma.R
  inst/artma/methods/bma.R
  inst/artma/methods/fma.R
  inst/artma/options/templates/options_template.yaml
  man/artma.Rd
  man/invoke_runtime_methods.Rd
  tests/testthat/test-fma.R
Due: R, artms inst folder

fix: fma option template duplicates
  inst/artma/econometric/fma.R
  inst/artma/methods/fma.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

feat: add a unified results handling
  NAMESPACE
  R/artma.R
  R/results.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/output/export.R
  inst/artma/visualization/options.R
  man/results.dir.Rd
  man/results.open.Rd
Due: R, artms inst folder

fix: results.open folder path
  R/results.R
Due: R

feat: persist the temporary results directories in the user option files
  inst/artma/options/templates/options_template.yaml
  inst/artma/output/export.R
Due: artms inst folder

chore: add an informative message at the end of the artma function run
  R/artma.R
Due: R

chore: the artma method now supports the 'open_results' argument to automatically open results
  Makefile
  R/artma.R
  man/artma.Rd
  scripts/previewVignette.sh
Due: R

ci: add a script for previewing vignettes
  scripts/previewVignette.sh
Due: none

docs: update the getting-started vignette
  vignettes/getting-started.Rmd
Due: none

chore: set the default graphics path to 'graphics'
  inst/artma/econometric/bma.R
  inst/artma/visualization/options.R
Due: artms inst folder

test: add a test for elliott cdf simulation
  tests/testthat/test-elliott-simulate-cdfs.R
Due: none

chore: minor improvements to the cdfs simulation function
  inst/artma/calc/methods/elliott.R
Due: artms inst folder

refactor: add a parallel cdfs computation
  inst/artma/calc/methods/elliott.R
  inst/artma/econometric/p_hacking.R
  tests/testthat/test-elliott-simulate-cdfs.R
Due: artms inst folder

docs: set the results open to FALSE
  man/artma.Rd
  vignettes/getting-started.Rmd
Due: none

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
