Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

perf(funnel_plot): split rows by study once in aggregate_study_medians
  inst/artma/methods/funnel_plot.R
Due: artms inst folder

perf(bpe): split study row indices once instead of rescanning per study
  inst/artma/methods/best_practice_estimate.R
Due: artms inst folder

fix(p_hacking_tests): seed LCM/MAIVE, real cpp fallback, skip reasons
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/maive.R
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

fix(tests): avoid rjags segfault in robma JAGS probe on CI
  tests/testthat/test-robma.R
Due: none

perf(stem): replace O(n^2) outer-product submatrix sums with cumsum
  inst/artma/calc/methods/stem.R
  tests/testthat/test-calc-stem.R
Due: artms inst folder

feat(visualization): add optional interactive HTML plot export
  DESCRIPTION
  inst/artma/options/templates/options_template.yaml
  inst/artma/visualization/export.R
  inst/artma/visualization/index.R
  inst/artma/visualization/options.R
  tests/testthat/test-visualization.R
Due: artms inst folder

chore(lint): enable box.linters box_usage_linter
  .lintr.R
  DESCRIPTION
  R/artma.R
  inst/artma/econometric/bma.R
Due: R, artms inst folder

fix(p_hacking_tests): quick wins from p-hacking suite review (#257)
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/maive.R
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/p_hacking_tests.R
  tests/testthat/helper-mocking.R
  tests/testthat/test-calc-maive.R
  tests/testthat/test-econometric-p-hacking.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
Due: artms inst folder

fix(tests): probe rjags for JAGS in a subprocess to avoid CI crash
  tests/testthat/test-robma.R
Due: none

style: single-indent multiline function defs per lintr 3.4 tidyverse style
  R/aaa.R
  R/data_config.R
  R/data_preview.R
  inst/artma/data/interactive_mapping.R
  inst/artma/data_config/read.R
  inst/artma/data_config/utils.R
  inst/artma/data_config/write.R
  inst/artma/options/ask.R
  inst/artma/variable/bma.R
  tests/testthat/modules/testing/mocks/mock_options.R
Due: R, artms inst folder

test: add missing testthat imports to test file box::use blocks
  tests/testthat/test-bma-auto-select.R
  tests/testthat/test-calc-endo-kink.R
  tests/testthat/test-calc-selection-model.R
  tests/testthat/test-data-config-resolve.R
  tests/testthat/test-libs-editor.R
  tests/testthat/test-options.R
  tests/testthat/test-polyfills.R
  tests/testthat/test-variable-suggestion.R
Due: none

perf(linear): skip vcov math and trim columns in bootstrap replications
  inst/artma/econometric/linear.R
  tests/testthat/test-linear-tests.R
Due: artms inst folder

perf(visualization): use ragg for faster PNG export when available
  DESCRIPTION
  inst/artma/econometric/bma.R
  inst/artma/econometric/nonlinear.R
  inst/artma/visualization/export.R
Due: artms inst folder

feat(robma): enable parallel MCMC chains when cores allow
  inst/artma/methods/robma.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

perf(linear): fast-path bootstrap estimates without per-replication plm/vcov
  inst/artma/econometric/linear.R
  tests/testthat/test-linear-tests.R
Due: artms inst folder

feat(run): run independent runtime methods in parallel layers
  DESCRIPTION
  R/artma.R
  R/generated_check_manifest.R
  inst/artma/modules/method_execution.R
  inst/artma/options/templates/options_template.yaml
  man/artma.Rd
  tests/testthat/test-method-execution.R
  tests/testthat/test-run.R
Due: R, artms inst folder

test: add guard for testthat calls missing from box::use imports
  tests/testthat/test-box-testthat-imports.R
Due: none

feat(cache): harden cache signature and enable caching by default
  CLAUDE.md
  README-dev.md
  README.md
  inst/artma/data/cache_signatures.R
  inst/artma/libs/infrastructure/cache.R
  inst/artma/libs/infrastructure/output_files.R
  inst/artma/libs/infrastructure/source_fingerprint.R
  inst/artma/modules/runtime_methods.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/visualization/export.R
  tests/testthat/test-cache-signature-components.R
Due: artms inst folder

fix(run): cap forked workers at the environment's process limit
  inst/artma/modules/method_execution.R
  tests/testthat/test-method-execution.R
Due: artms inst folder

perf(linear): fast-path random effects bootstrap via Swamy-Arora replication
  inst/artma/econometric/linear.R
  tests/testthat/test-linear-tests.R
Due: artms inst folder

feat(linear): precheck panel specs and skip with plain-language reasons
  inst/artma/econometric/linear.R
  tests/testthat/test-linear-tests.R
Due: artms inst folder

feat(linear): enable bootstrap CIs for the between effects spec
  inst/artma/econometric/linear.R
  tests/testthat/test-linear-tests.R
Due: artms inst folder

fix(cache): record base-graphics plots so cached reruns restore them
  inst/artma/visualization/export.R
  tests/testthat/test-cache-signature-components.R
Due: artms inst folder
