Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

fix: update the climenu version to 0.1.5 to avoid an error
  DESCRIPTION
Due: none

fix: handle NULL var_name in config during column validation
  inst/artma/data/preprocess.R
  inst/artma/data_config/resolve.R
Due: artms inst folder

chore: update the test example file
  scripts/R/test_example.R
Due: none

refactor: unify bma and fma into a single table
  R/artma.R
  R/globals.R
  inst/artma/methods/bma.R
  inst/artma/methods/fma.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/output/ma_table.R
  tests/testthat/test-ma-table.R
Due: R, artms inst folder

fix: silence the bma and fma run if the verbose_output is FALSE
  inst/artma/econometric/bma.R
  inst/artma/methods/bma.R
  inst/artma/methods/fma.R
Due: artms inst folder

feat: add bpe
  R/artma.R
  inst/artma/const.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-best-practice-estimate.R
  tests/testthat/test-run.R
Due: R, artms inst folder

fix: requirements on bma-dependent methods
  R/artma.R
Due: R

fix: strict bpe requirements
  inst/artma/methods/best_practice_estimate.R
  tests/testthat/test-best-practice-estimate.R
Due: artms inst folder

chore: switch the order of the runtime methods (fma <-> bpe)
  inst/artma/const.R
Due: artms inst folder

build: bump the climenu version 0.1.4 -> 0.1.5
  DESCRIPTION
Due: none

refactor: handle data columns through reconciliation
  DESCRIPTION
  R/artma.R
  R/globals.R
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  inst/artma/data/read.R
  inst/artma/data/schema_reconcile.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-preprocess.R
  tests/testthat/test-data-schema-reconcile.R
Due: R, artms inst folder

fix: schema reconcile
  inst/artma/data/schema_reconcile.R
  tests/testthat/test-box-plot-study-label.R
  tests/testthat/test-data-compute.R
  tests/testthat/test-schema-reconcile-e2e.R
Due: artms inst folder

test: update the schema reconcile e2e tests
  tests/testthat/test-schema-reconcile-e2e.R
Due: none

chore: remove the 'reconcile' parameter from the artma main function
  R/artma.R
Due: R

chore: remove an outdated help info in the options_template.yaml for the reconcile mode
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

fix: schema reconciliation messages
  inst/artma/data/schema_reconcile.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-schema-reconcile.R
  tests/testthat/test-schema-reconcile-e2e.R
Due: artms inst folder

chore: move the data section of the options file below the methods
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

fix: failing tests
  inst/artma/testing/fixtures/helper_colnames.R
  tests/testthat/test-data-schema-reconcile.R
  tests/testthat/test-schema-reconcile-e2e.R
Due: artms inst folder

build: remove the climenu remotes
  DESCRIPTION
Due: none

fix: declare runtime dependencies correctly
  DESCRIPTION
  R/dummy_functions.R
  inst/artma/econometric/bma.R
  man/artma-package.Rd
Due: R, artms inst folder

fix: locate linters.R without the here package
  .lintr.R
Due: none

fix: isolate runtime method failures and always export partial results
  R/artma.R
  man/artma.Rd
  man/invoke_runtime_methods.Rd
  tests/testthat/test-run.R
Due: R

fix: replace the homemade digest hash and stop the data cache invalidating itself
  inst/artma/data/cache_signatures.R
  inst/artma/data/index.R
  inst/artma/libs/infrastructure/polyfills.R
  tests/testthat/test-data-cache-signature.R
  tests/testthat/test-polyfills.R
Due: artms inst folder

fix: locate the package root when the checkout is not named artma
  inst/artma/paths.R
  tests/testthat/setup.R
  tests/testthat/test-paths.R
Due: artms inst folder

fix: make data config keys deterministic and invalidate the config df cache
  inst/artma/const.R
  inst/artma/data/preprocess.R
  inst/artma/data_config/defaults.R
  inst/artma/data_config/resolve.R
  tests/testthat/test-data-config-defaults.R
  tests/testthat/test-data-config-resolve.R
  tests/testthat/test-data-index.R
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

fix: options correctness fixes and dead code removal
  NAMESPACE
  R/globals.R
  R/options.R
  R/transformations.R
  inst/artma/const.R
  inst/artma/data/schema_reconcile.R
  inst/artma/data/utils.R
  inst/artma/options/files.R
  inst/artma/options/prompts.R
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/options/utils.R
  man/options.load.Rd
  man/options.remove.Rd
  tests/testthat/test-options.R
Due: R, artms inst folder

test: eliminate flaky-test vectors in the parallel suite
  R/artma.R
  inst/artma/testing/fixtures/helper_test_cache.R
  inst/artma/testing/mocks/mock_df.R
  man/invoke_runtime_methods.Rd
  tests/testthat/test-autonomy.R
  tests/testthat/test-bma-collinearity.R
  tests/testthat/test-box-plot-study-label.R
  tests/testthat/test-data-auto-detection-confirmation.R
  tests/testthat/test-data-column-recognition.R
  tests/testthat/test-data-column-resolution.R
  tests/testthat/test-data-compute.R
  tests/testthat/test-data-config-defaults.R
  tests/testthat/test-data-config-resolve.R
  tests/testthat/test-data-interactive-mapping.R
  tests/testthat/test-data-preview.R
  tests/testthat/test-data-schema-reconcile.R
  tests/testthat/test-data-smart-detection.R
  tests/testthat/test-data-utils.R
  tests/testthat/test-libs-cache.R
  tests/testthat/test-options-column-preprocessing.R
  tests/testthat/test-run.R
  tests/testthat/test-schema-reconcile-integration.R
Due: R, artms inst folder

test: reconcile the deflake suite with the merged wave 1 branches
  tests/testthat/test-data-cache-signature.R
  tests/testthat/test-run.R
Due: none

fix: replace literal unicode escape text with ascii equivalents
  inst/artma/options/template.R
  man/artma-package.Rd
  tests/testthat/test-data-preprocess.R
  tests/testthat/test-data-schema-reconcile.R
  tests/testthat/test-schema-reconcile-integration.R
Due: artms inst folder

chore: add a linter that flags literal unicode escape text
  .lintr.R
  NAMESPACE
  R/linters.R
  man/unicode_escape_linter.Rd
Due: R

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
