Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

feat: add rcpp, elliott cdfs faster calculation
  DESCRIPTION
  NAMESPACE
  R/RcppExports.R
  R/rcpp.R
  inst/artma/calc/methods/elliott.R
  src/RcppExports.cpp
  src/elliott_cdfs.cpp
  tests/testthat/test-elliott-simulate-cdfs.R
Due: R, artms inst folder

build: add compiled C++ artifacts to .gitignore
  .gitignore
Due: none

chore: update the rcpp exports file
  R/RcppExports.R
Due: R

fix: elliott options
  inst/artma/calc/methods/elliott.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: remove the old cdfs calculation function
  inst/artma/calc/methods/elliott.R
Due: artms inst folder

fix: elliott tests
  tests/testthat/test-elliott-simulate-cdfs.R
Due: none

fix: lint setup
  .Rbuildignore
  .Rprofile
  README-dev.md
Due: none

fix: lints around the project
  R/autonomy.R
  inst/artma/econometric/fma.R
  inst/artma/methods/t_stat_histogram.R
Due: R, artms inst folder

fix: remaining lints in the package
  inst/artma/data/na_handling.R
  inst/artma/data/preprocess.R
  inst/artma/methods/box_plot.R
  inst/artma/methods/funnel_plot.R
Due: artms inst folder

fix: set the artma open results default to false
  R/artma.R
Due: R

fix: maive output formatting issue
  inst/artma/econometric/p_hacking.R
Due: artms inst folder

chore: add a verbose warning to maive
  inst/artma/econometric/p_hacking.R
Due: artms inst folder

chore: change maive default settings to faster ones
  inst/artma/calc/methods/maive.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

fix: box imports around the elliott cpp functions
  inst/artma/calc/methods/elliott.R
Due: artms inst folder

chore: clean up MAIVE output
  inst/artma/econometric/p_hacking.R
Due: artms inst folder

chore: remove the standard coefficient from MAIVE output
  inst/artma/econometric/p_hacking.R
Due: artms inst folder

feat: add prima-facie graphs
  inst/artma/const.R
  inst/artma/interactive/prima_facie_graphs.R
  inst/artma/methods/prima_facie_graphs.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/visualization/export.R
Due: artms inst folder

fix: recover stale options files with template defaults
  CLAUDE.md
  R/options.R
  inst/artma/calc/meta.R
  inst/artma/data/preprocess.R
  inst/artma/data_config/defaults.R
  inst/artma/options/template.R
  tests/testthat/test-options.R
Due: R, artms inst folder

fix: attempt to remove extra printed rows
  inst/artma/libs/infrastructure/cache.R
  tests/testthat/test-libs-cache.R
Due: artms inst folder

fix: duplicate data reading during the main pipeline
  inst/artma/data/cache_signatures.R
  inst/artma/data/index.R
  inst/artma/data_config/resolve.R
  tests/testthat/test-data-config-resolve.R
  tests/testthat/test-data-index.R
Due: artms inst folder

fix: failing funnel plot tests
  inst/artma/methods/funnel_plot.R
Due: artms inst folder

feat: automatically open latest results through results.open by default
  R/artma.R
  R/results.R
  inst/artma/output/export.R
  man/open_dir_in_browser.Rd
  man/read_last_export_dir.Rd
  man/results.dir.Rd
  man/results.open.Rd
Due: R, artms inst folder

chore: add a 'use_last' parameter to the results.open function
  R/results.R
  man/results.open.Rd
Due: R

refactor: make study ID column detection smarter
  inst/artma/data/column_recognition.R
  inst/artma/data/compute.R
  inst/artma/interactive/box_plot.R
  inst/artma/interactive/effect_summary_stats.R
  inst/artma/methods/box_plot.R
  inst/artma/variable/detection.R
  inst/artma/variable/suggestion.R
  tests/testthat/test-box-plot-study-label.R
  tests/testthat/test-data-column-recognition.R
  tests/testthat/test-data-column-resolution.R
  tests/testthat/test-data-compute.R
  tests/testthat/test-data-index.R
  tests/testthat/test-variable-suggestion.R
Due: artms inst folder

build: use CRAN version of 'climenu'
  DESCRIPTION
Due: none

fix: description versino control
  DESCRIPTION
Due: none

build: trigger
  scripts/common.sh
Due: none

fix: add missing global variables
  R/globals.R
Due: R

docs: add R/globals.R file handling to the agentic instruction files
  AGENTS.md
  CLAUDE.md
Due: none

fix: parallel cdfs workers function in the elliott model calculations
  inst/artma/calc/methods/elliott.R
Due: artms inst folder

chore: update a deprecated ggplot function call (is.ggplot -> is_ggplot)
  inst/artma/visualization/export.R
  tests/testthat/test-funnel-plot.R
  tests/testthat/test-t-stat-histogram.R
Due: artms inst folder

chore: release v0.3.3
  DESCRIPTION
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

docs: update NEWS.md for v0.3.3
  NEWS.md
Due: none

build: bump the climenu version 0.1.3 -> 0.1.4
  DESCRIPTION
Due: none

refactor: box plot max boxes per plot option
  CLAUDE.md
  inst/artma/methods/box_plot.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder
