Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

ci: trim PR check matrix and move devel/oldrel to a post-merge extended check
  .github/workflows/R-CMD-check-extended.yaml
  .github/workflows/R-CMD-check.yaml
  .github/workflows/lint.yaml
  .github/workflows/test-coverage.yaml
Due: none

fix: align LCM defaults and wire chunk_size option in p_hacking_tests
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/p_hacking_tests.R
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

feat: add BMA prior-comparison plot for multiple parameter sets
  inst/artma/econometric/bma.R
  inst/artma/methods/bma.R
  tests/testthat/test-bma.R
Due: artms inst folder

feat: attach STEM funnel and MSE plots to nonlinear_tests output
  inst/artma/econometric/nonlinear.R
  inst/artma/methods/nonlinear_tests.R
  tests/testthat/test-nonlinear-tests.R
Due: artms inst folder

fix: implement puniform_method P (method of moments) branch
  inst/artma/econometric/exogeneity.R
  tests/testthat/test-econometric-exogeneity.R
Due: artms inst folder

build: move dev-only packages from Suggests to Config/Needs fields
  .github/workflows/build-and-tag.yaml
  .github/workflows/submit-to-cran.yaml
  .github/workflows/test-coverage.yaml
  .github/workflows/test-e2e.yaml
  .lintr.R
  DESCRIPTION
Due: none

fix: recompute user-supplied precision after winsorization
  inst/artma/data/compute.R
  tests/testthat/test-data-compute.R
Due: artms inst folder

ci: delete closed-PR Actions caches automatically
  .github/workflows/cache-cleanup.yaml
Due: none

ci: fail lint job on man/NAMESPACE docs drift
  .github/workflows/lint.yaml
Due: none

ci: file an issue on extended/e2e CI failure, gate polish
  .github/workflows/R-CMD-check-extended.yaml
  .github/workflows/R-CMD-check.yaml
  .github/workflows/test-e2e.yaml
Due: none

ci: merge release preBuild and build jobs and trim redundant R CMD check
  .github/workflows/build-and-tag.yaml
Due: none

feat: support user-defined data subset conditions
  inst/artma/data/preprocess.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

feat(hooks): add local git hooks for style/lint and commit-msg checks
  .githooks/commit-msg
  .githooks/pre-commit
  .githooks/pre-commit-lint.R
  .lintr.R
  CLAUDE.md
  Makefile
Due: none

feat: add economic significance table to best_practice_estimate
  inst/artma/methods/best_practice_estimate.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-best-practice-estimate.R
Due: artms inst folder

feat: add BPE per-factor density and sorted scatter plots
  inst/artma/methods/best_practice_estimate.R
  tests/testthat/test-best-practice-estimate.R
Due: artms inst folder

feat: add BPE summary stats grouped by factor levels
  inst/artma/methods/best_practice_estimate.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-best-practice-estimate.R
Due: artms inst folder

fix: make BPE recommendation fallback an explicit no-recommendation outcome
  inst/artma/methods/best_practice_estimate.R
  tests/testthat/test-best-practice-estimate.R
Due: artms inst folder

fix: install MAIVE from CRAN instead of GitHub
  DESCRIPTION
  inst/artma/calc/methods/maive.R
  tests/testthat/test-calc-maive.R
Due: artms inst folder

feat: add opt-in RoBMA runtime method
  DESCRIPTION
  R/artma.R
  inst/artma/methods/robma.R
  inst/artma/modules/runtime_methods.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-robma.R
  tests/testthat/test-run.R
  tests/testthat/test-runtime-methods.R
Due: R, artms inst folder

feat(output): add LaTeX table export via output.table_formats
  inst/artma/options/templates/options_template.yaml
  inst/artma/output/export.R
  inst/artma/output/latex.R
  tests/testthat/test-output-export.R
  tests/testthat/test-output-latex.R
  vignettes/options-files.Rmd
Due: artms inst folder

fix: target the RoBMA 4.x API in the robma method
  DESCRIPTION
  inst/artma/methods/robma.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

ci: install JAGS on macOS and Windows runners for RoBMA
  .github/workflows/R-CMD-check-extended.yaml
  .github/workflows/R-CMD-check.yaml
  tests/testthat/test-robma.R
Due: none

fix: declare rjags in Suggests for the RoBMA test guard
  DESCRIPTION
Due: none

ci: keep the JAGS installer out of the package directory
  .github/workflows/R-CMD-check-extended.yaml
  .github/workflows/R-CMD-check.yaml
Due: none

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
