Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

style(visualization): drop the BMA inclusion caption, log the truncation instead
  inst/artma/visualization/bma.R
Due: artms inst folder

style(visualization): rebuild shared plot theme and palette, fix export text scaling
  inst/artma/visualization/colors.R
  inst/artma/visualization/export.R
  inst/artma/visualization/theme.R
  tests/testthat/test-visualization.R
Due: artms inst folder

style(visualization): give the distribution plots legends, contours and honest densities
  inst/artma/methods/funnel_plot.R
  inst/artma/methods/prima_facie_graphs.R
  inst/artma/methods/t_stat_histogram.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/visualization/theme.R
  tests/testthat/test-funnel-plot.R
  tests/testthat/test-prima-facie-graphs.R
  tests/testthat/test-t-stat-histogram.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@2a128a89f33a705ee5f9c5a4bcdf489b93ab4eb7 🚀
  pkgdown.yml
Due: none

feat(data): confirm sub-threshold column candidates interactively
  inst/artma/data/column_recognition.R
  inst/artma/data/interactive_mapping.R
  inst/artma/data/role_evidence.R
  inst/artma/data_config/write.R
  tests/testthat/test-data-column-recognition-provisional.R
  tests/testthat/test-data-config-mapping-plausibility.R
  tests/testthat/test-data-interactive-mapping.R
Due: artms inst folder

style(visualization): sort box plots by median and calm the BPE plots
  inst/artma/methods/box_plot.R
  inst/artma/visualization/best_practice_estimate.R
  tests/testthat/test-box-plot-study-label.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@650304e4f25ef4dc429d9502d9c590136652383d 🚀
  pkgdown.yml
Due: none

style(visualization): rebuild the BMA inclusion grid and unify base-graphics output
  inst/artma/calc/methods/stem.R
  inst/artma/econometric/bma.R
  inst/artma/econometric/nonlinear.R
  inst/artma/visualization/bma.R
  inst/artma/visualization/export.R
  tests/testthat/test-bma-inclusion-plot.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@4df208daed491aaf1673fa555f8c22c10d890b1e 🚀
  pkgdown.yml
Due: none

Deploying to gh-pages from @ PetrCala/artma@281eb27c0fde3556e5eea66ada5a09bbde124dfe 🚀
  pkgdown.yml
Due: none

ci: cache the Windows JAGS install to sidestep SourceForge stalls
  .github/actions/setup-jags/action.yml
Due: none

ci: run check-time tests on all runner cpus
  .github/workflows/R-CMD-check-extended.yaml
  .github/workflows/R-CMD-check.yaml
Due: none

ci: produce R and inst coverage from one traced test run
  .github/workflows/test-coverage.yaml
  .gitignore
  Makefile
  scripts/R/inst_coverage.R
Due: none

fix(visualization): clip the funnel plot x-axis to the estimates, not the contours
  inst/artma/methods/funnel_plot.R
  tests/testthat/test-funnel-plot.R
Due: artms inst folder

feat(data): derive effect and se from (t, df) and detect wide-format sheets
  inst/artma/data/column_recognition.R
  inst/artma/data/compute.R
  inst/artma/data/derivation.R
  inst/artma/data/index.R
  inst/artma/data/interactive_mapping.R
  inst/artma/data/method_requirements.R
  inst/artma/options/column_preprocessing.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-derivation.R
Due: artms inst folder

feat(options): add options_remove as an alias of options_delete
  NAMESPACE
  R/options.R
  man/options_delete.Rd
  tests/testthat/test-options.R
Due: R

Deploying to gh-pages from @ PetrCala/artma@e1dcd513a94978ebb35bb20a1f4801a8164efedd 🚀
  pkgdown.yml
Due: none

ci: path-filter heavy PR workflows and drop --as-cran from the fast gate
  .github/workflows/R-CMD-check.yaml
  .github/workflows/test-coverage.yaml
Due: none

Deploying to gh-pages from @ PetrCala/artma@915b9897a840bde083de733c69f648a5fe88ff32 🚀
  llms.txt
  pkgdown.yml
  reference/index.html
  reference/index.md
  reference/options_delete.html
  reference/options_delete.md
  reference/options_remove.html
  search.json
Due: none

feat(options): add ask_text prompt helper and compact the options file name prompt
  inst/artma/interactive/input.R
  inst/artma/options/ask.R
  tests/testthat/test-interactive-input.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@d80057ca5c8d07acacf16f8882a7691239557aff 🚀
  pkgdown.yml
Due: none

Deploying to gh-pages from @ PetrCala/artma@247e96a36712439c3adec3bd244a7ba805d5e5a4 🚀
  pkgdown.yml
Due: none

feat(data): opt-in external column-mapping hook with verified proposals
  CLAUDE.md
  contributingGuides/COLUMN_MAPPING_HOOK.md
  inst/artma/data/external_mapping.R
  inst/artma/data/interactive_mapping.R
  inst/artma/options/column_preprocessing.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-external-mapping.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@8f1bb716b24e9adc22ee26af4c7fda9daf57aabc 🚀
  CLAUDE.html
  CLAUDE.md
  pkgdown.yml
  search.json
Due: none

fix(nonlinear): clarify selection model publication-probability rows
  inst/artma/econometric/nonlinear.R
  inst/artma/methods/nonlinear_tests.R
  tests/testthat/test-nonlinear-tests.R
Due: artms inst folder
