Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

feat: add exogeneity tests as a new runtime method
  DESCRIPTION
  inst/artma/const.R
  inst/artma/libs/exogeneity_tests.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: release v0.3.2
  DESCRIPTION
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

docs: update NEWS.md for v0.3.2
  NEWS.md
Due: none

refactor: remove 5 unnecessary dependencies with custom polyfills
  DESCRIPTION
  R/dummy_functions.R
  R/options.R
  R/run.R
  inst/artma/data/cache_signatures.R
  inst/artma/data/interactive_mapping.R
  inst/artma/data/preprocess.R
  inst/artma/data/utils.R
  inst/artma/libs/ask.R
  inst/artma/libs/polyfills.R
  inst/artma/libs/string.R
  inst/artma/libs/validation.R
  inst/artma/modules/path.R
  inst/artma/modules/utils.R
  inst/artma/options/ask.R
  inst/artma/options/files.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/paths.R
  tests/testthat/test-polyfills.R
Due: R, artms inst folder

chore: fix lint issues
  inst/artma/libs/polyfills.R
Due: artms inst folder

chore: update the source script
  scripts/R/test.R
  utils/src/source.R
Due: none

feat: add p-hacking tests as a new runtime method
  DESCRIPTION
  inst/artma/const.R
  inst/artma/libs/p_hacking_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

refactor: add Caliper tests to p-hacking method (partial integration)
  TODO_P_HACKING_INTEGRATION.md
  inst/artma/libs/p_hacking_tests.R
Due: artms inst folder

feat: integrate Caliper, Elliott, and MAIVE as unified p-hacking tests
  inst/artma/libs/p_hacking_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: remove completed TODO file
  TODO_P_HACKING_INTEGRATION.md
Due: none

fix: handle vector values in option NA validation
  inst/artma/options/template.R
Due: artms inst folder

fix: move AER and ivmodel from Imports to Suggests
  DESCRIPTION
  inst/artma/libs/exogeneity_tests.R
Due: artms inst folder

feat: integrate MAIVE package from GitHub
  DESCRIPTION
  inst/artma/calc/methods/maive.R
  inst/artma/libs/p_hacking_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

fix: update the maive package reference
  DESCRIPTION
  inst/artma/calc/methods/maive.R
Due: artms inst folder

feat: enhance p-hacking tests output formatting
  inst/artma/calc/methods/maive.R
  inst/artma/libs/p_hacking_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
  scripts/R/test.R
Due: artms inst folder

feat: add caliper_display_ratios option for Caliper tests
  inst/artma/libs/p_hacking_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

perf: add progress bars and fix hash overflow warnings
  inst/artma/calc/methods/elliott.R
  inst/artma/libs/p_hacking_tests.R
  inst/artma/libs/polyfills.R
Due: artms inst folder

refactor: improve progress messages and silence clubSandwich warning
  inst/artma/calc/methods/elliott.R
  inst/artma/libs/p_hacking_tests.R
Due: artms inst folder

refactor: add explanatory messages and fully silence clubSandwich warning
  inst/artma/calc/methods/elliott.R
  inst/artma/libs/p_hacking_tests.R
  scripts/R/test.R
Due: artms inst folder

chore: remove unused messages
  inst/artma/libs/p_hacking_tests.R
  inst/artma/methods/p_hacking_tests.R
Due: artms inst folder

chore: decrease the lcm iterations (10000 -> 3000) in the elliott tests
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: remove row indexes from Elliott tests output
  inst/artma/methods/p_hacking_tests.R
Due: artms inst folder

feat: add winsorization to data preprocessing
  inst/artma/data/preprocess.R
  inst/artma/options/prompts.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: add a default winsorization level to the local test script
  scripts/R/test.R
Due: none

chore: update the source script
  utils/src/source.R
Due: none

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
