Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

refactor(formatting): share one summary-table builder across econometric tests
  inst/artma/econometric/exogeneity.R
  inst/artma/econometric/linear.R
  inst/artma/econometric/nonlinear.R
  inst/artma/libs/formatting/summary_table.R
  tests/testthat/test-summary-table-characterization.R
Due: artms inst folder

refactor(data): split schema_reconcile into detect, ui, persist layers
  inst/artma/data/schema_detect.R
  inst/artma/data/schema_persist.R
  inst/artma/data/schema_reconcile.R
  inst/artma/data/schema_ui.R
  tests/testthat/test-data-schema-detect.R
Due: artms inst folder

refactor(visualization): drop ggtext, use plain element_text for ticks
  DESCRIPTION
  R/generated_check_manifest.R
  inst/artma/visualization/theme.R
  inst/artma/visualization/ticks.R
  man/artma-package.Rd
Due: R, artms inst folder

fix: restore RoxygenNote 7.3.3 and man page dropped by roxygen 8 regeneration
  DESCRIPTION
  man/artma-package.Rd
Due: none

refactor(elliott): make C++ CDF simulation the sole production path
  R/generated_check_manifest.R
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/elliott_cache.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/modules/testing/reference/elliott.R
  tests/testthat/test-econometric-p-hacking.R
  tests/testthat/test-elliott-cdfs-cache.R
  tests/testthat/test-elliott-simulate-cdfs.R
Due: R, artms inst folder

test(exogeneity): shrink IV DGP fixtures to n=120 for faster tests
  tests/testthat/test-econometric-exogeneity.R
Due: none

test(p-hacking): coarsen reference_bounds h grid 10x to cut test time
  tests/testthat/test-econometric-p-hacking.R
Due: none

test(maive): mock MAIVE wild-bootstrap B to cut reproducibility test from 27s to under 1s
  tests/testthat/test-econometric-maive.R
Due: none

test(linear-tests): cut bootstrap fast-path test to 2 replications plus a forced degenerate case
  tests/testthat/test-linear-tests.R
Due: none

test(data): share prepare-phases fixture and shrink mock df to halve test time
  tests/testthat/test-data-prepare-phases.R
Due: none

refactor(methods): extract shared resolve_variable_groups equal/gltl resolver
  inst/artma/libs/core/grouping.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/effect_summary_stats.R
  tests/testthat/test-grouping.R
Due: artms inst folder

refactor(bma): extract shared unwrap_bma_result from bpe and fma
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/bma.R
  inst/artma/methods/fma.R
  tests/testthat/test-bma-result-unwrap.R
Due: artms inst folder

refactor(options): template-sourced typed option accessors
  inst/artma/calc/meta.R
  inst/artma/data/compute.R
  inst/artma/data/configure.R
  inst/artma/data/na_handling.R
  inst/artma/data/preprocess.R
  inst/artma/options/typed_accessors.R
  tests/testthat/test-options-typed-accessors.R
Due: artms inst folder

refactor(options): add spec-driven option resolver and migrate method files
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/bma.R
  inst/artma/methods/box_plot.R
  inst/artma/methods/effect_summary_stats.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/methods/fma.R
  inst/artma/methods/funnel_plot.R
  inst/artma/methods/linear_tests.R
  inst/artma/methods/maive.R
  inst/artma/methods/nonlinear_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/methods/prima_facie_graphs.R
  inst/artma/methods/robma.R
  inst/artma/methods/t_stat_histogram.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/resolver.R
  tests/testthat/test-options-resolver.R
Due: artms inst folder

fix(maive): resolve add_significance_marks via shared helper restoring scalar check
  inst/artma/methods/maive.R
Due: artms inst folder

fix(ci): quote E2E test-file array so both fixture tests actually run
  scripts/testE2E.sh
Due: none

fix(bma): skip gracefully instead of crashing with a single moderator
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/bma.R
  inst/artma/methods/fma.R
  tests/testthat/test-bma-result-unwrap.R
  tests/testthat/test-bma.R
Due: artms inst folder

test(bpe): pin full table/meta/plot contract before split
  tests/testthat/test-best-practice-estimate.R
Due: none

refactor(bpe): split best_practice_estimate into econometric core and viz plots
  inst/artma/econometric/best_practice_estimate.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/visualization/best_practice_estimate.R
  tests/testthat/test-best-practice-estimate.R
Due: artms inst folder

fix(data): silence duplicate drop_conflicting_raw log in configure phase
  inst/artma/data/index.R
  inst/artma/data/utils.R
  tests/testthat/test-data-utils.R
Due: artms inst folder

test(data): import expect_message helpers in test-data-utils box block
  tests/testthat/test-data-utils.R
Due: none

feat(coverage): measure inst/artma box modules, upload merged report to codecov
  .github/workflows/test-coverage.yaml
  .gitignore
  DESCRIPTION
  Makefile
  scripts/R/inst_coverage.R
Due: none

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
