Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

fix: ensure the system editors are available for editor opening
  inst/artma/libs/editor.R
Due: artms inst folder

fix: indentation issues
  inst/artma/libs/editor.R
Due: artms inst folder

fix: more lint issues
  inst/artma/libs/editor.R
Due: artms inst folder

chore: add a test example file
  scripts/R/test_example.R
Due: none

chore: add test.R to .gitignore
  .gitignore
Due: none

refactor: the data preprocessing now removes empty columns based on quality, not position
  inst/artma/data/preprocess.R
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

refactor: updated column position verification
  inst/artma/data/preprocess.R
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

chore: update tests
  tests/testthat/test-data-preprocess.R
Due: none

refactor: the na handling method now distinguishes between numeric and non-numeric columns
  inst/artma/data/na_handling.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

refactor: add better whitespace na handling when reading data
  inst/artma/const.R
  inst/artma/data/read.R
  inst/artma/data/smart_detection.R
Due: artms inst folder

chore: attempt to fix invalid data reading
  inst/artma/data/preprocess.R
  inst/artma/data/read.R
  inst/artma/data/smart_detection.R
Due: artms inst folder

chore: set cache default options value to false
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

feat: add better column type detection
  inst/artma/data/read.R
Due: artms inst folder

feat: add auto columns detection
  inst/artma/data/interactive_mapping.R
  inst/artma/data/utils.R
  tests/testthat/test-data-auto-detection-confirmation.R
  tests/testthat/test-data-interactive-mapping.R
  tests/testthat/test-data-utils.R
Due: artms inst folder

chore: update the column preprocessing logic
  inst/artma/options/column_preprocessing.R
Due: artms inst folder

refactor: the data source is now read in two-steps to enable column mapping
  inst/artma/options/template.R
Due: artms inst folder

fix: data reading during data preprocessing
  inst/artma/options/column_preprocessing.R
Due: artms inst folder

fix: interactive mapping column selection
  inst/artma/data/column_recognition.R
  inst/artma/data/interactive_mapping.R
Due: artms inst folder

chore: better NA/NULL handling in interactive mapping
  inst/artma/data/interactive_mapping.R
  inst/artma/options/column_preprocessing.R
Due: artms inst folder

feat: allow the user to use a mock source DF
  inst/artma/options/template.R
Due: artms inst folder

fix: the interactive columns mapping now works
  inst/artma/data/interactive_mapping.R
Due: artms inst folder

chore: explicitly call climenu::menu with the package prefix
  inst/artma/data/interactive_mapping.R
  inst/artma/data/preprocess.R
Due: artms inst folder

chore: the options file select now supports multiple choices
  inst/artma/options/ask.R
Due: artms inst folder

feat: add options vignette, improve the ask/utils functions
  R/options.R
  inst/artma/options/ask.R
  inst/artma/options/utils.R
  vignettes/options-files.Rmd
Due: R, artms inst folder

fix: missing success print; create an options file if none exist when necessary
  R/options.R
  inst/artma/options/ask.R
Due: R, artms inst folder

fix: remove failing tests
  tests/testthat/test-data-preprocess.R
Due: none

fix: lints
  R/options.R
  inst/artma/calc/pcc.R
  inst/artma/data/compute.R
  inst/artma/data/fill.R
  inst/artma/data/preprocess.R
  inst/artma/data/smart_detection.R
  inst/artma/data_config/read.R
  inst/artma/data_config/utils.R
  inst/artma/data_config/write.R
  inst/artma/libs/ask.R
  inst/artma/libs/polyfills.R
  inst/artma/libs/string.R
  inst/artma/libs/test_utils.R
  inst/artma/libs/validation.R
  inst/artma/testing/mocks/mock_df.R
Due: R, artms inst folder

chore: when prompting the user to use an options file, the prompt is now smarter
  R/options.R
Due: R

feat: add a public method options.delete
  NAMESPACE
  R/options.R
  man/options.remove.Rd
  tests/testthat/test-options.R
Due: R

chore: update the config_setup options text
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: set the config setup default to false <=> enable auto config setup
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

build: bump climenu version (0.1.1 -> 0.1.2)
  DESCRIPTION
Due: none

feat: implement the select all option of the climenu
  R/run.R
  inst/artma/libs/effect_summary_stats_interactive.R
  inst/artma/methods/bma.R
  inst/artma/options/ask.R
Due: R, artms inst folder

refactor: unify the invocation public api methods to 'artma'
  CLAUDE.md
  NAMESPACE
  R/artma.R
  R/main.R
  R/run.R
  README.md
  man/artma-package.Rd
  man/artma.Rd
  man/invoke_runtime_methods.Rd
  man/main.Rd
  man/run.Rd
  scripts/R/test_example.R
  tests/E2E/test-installation.R
  vignettes/getting-started.Rmd
  vignettes/options-files.Rmd
Due: R

feat: add a welcome message
  R/artma.R
  inst/artma/libs/welcome.R
  man/artma-package.Rd
  man/is_first_time_user.Rd
  man/mark_welcome_as_shown.Rd
  man/show_welcome_message.Rd
Due: R, artms inst folder

refactor: redirect user to r universe links in more help
  inst/artma/const.R
  inst/artma/libs/welcome.R
Due: artms inst folder

docs: re-generate .Rd files
  man/artma-package.Rd
  man/artma.Rd
  man/is_first_time_user.Rd
  man/mark_welcome_as_shown.Rd
Due: none

docs: update agentic files
  AGENTS.md
  CLAUDE.md
Due: none

fix: test example lib imports
  scripts/R/test_example.R
Due: none

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
