Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

fix(linear): make between-effects standard errors robust and label every model's vcov
  inst/artma/econometric/linear.R
  inst/artma/econometric/vcov.R
  inst/artma/methods/linear_tests.R
  tests/testthat/test-econometric-vcov.R
  tests/testthat/test-linear-tests.R
  tests/testthat/test-summary-table-characterization.R
Due: artms inst folder

feat(methods): show the registered method metadata in methods.list()
  CLAUDE.md
  R/generated_check_manifest.R
  R/methods.R
  contributingGuides/METHODS.md
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/bma.R
  inst/artma/methods/box_plot.R
  inst/artma/methods/effect_summary_stats.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/methods/fma.R
  inst/artma/methods/funnel_plot.R
  inst/artma/methods/linear_tests.R
  inst/artma/methods/maive.R
  inst/artma/methods/nonlinear_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/methods/prima_facie_graphs.R
  inst/artma/methods/robma.R
  inst/artma/methods/t_stat_histogram.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/modules/methods_table.R
  inst/artma/modules/runtime_methods.R
  man/methods.list.Rd
  tests/testthat/test-methods-table.R
  tests/testthat/test-methods-vignette-parity.R
  tests/testthat/test-runtime-methods.R
  vignettes/methods-overview.Rmd
Due: R, artms inst folder

feat(core): add leveled verbosity log wrappers, fix drifted defaults
  CLAUDE.md
  inst/artma/calc/methods/elliott.R
  inst/artma/econometric/p_hacking.R
  inst/artma/libs/core/log.R
  tests/testthat/test-log.R
Due: artms inst folder

docs: fix unexported prepare_data() call in getting-started vignette
  vignettes/getting-started.Rmd
Due: none

feat(api): add lifecycle dependency and snake_case API naming guide
  CLAUDE.md
  DESCRIPTION
  R/deprecated.R
  contributingGuides/API.md
  man/artma-deprecated.Rd
Due: R

feat(api): rename config.* and data.preview with deprecated aliases
  NAMESPACE
  R/data_config.R
  R/data_preview.R
  inst/artma/data/compute.R
  inst/artma/data/preprocess.R
  inst/artma/data/schema_ui.R
  inst/artma/data/utils.R
  man/artma-deprecated.Rd
  man/config_fix.Rd
  man/config_get.Rd
  man/config_overrides.Rd
  man/config_reset.Rd
  man/config_set.Rd
  man/data_preview.Rd
  tests/testthat/test-data-config-resolve.R
  tests/testthat/test-data-preview.R
  tests/testthat/test-data-utils.R
  tests/testthat/test-deprecated-aliases.R
Due: R, artms inst folder

feat(api): rename autonomy, viz, methods, report, results exports to snake_case
  NAMESPACE
  R/artma.R
  R/autonomy.R
  R/cli.R
  R/methods.R
  R/report.R
  R/results.R
  R/viz.R
  inst/artma/modules/methods_table.R
  inst/artma/modules/runtime_methods.R
  man/artma-deprecated.Rd
  man/artma.Rd
  man/autonomy_get.Rd
  man/autonomy_is_full.Rd
  man/autonomy_is_set.Rd
  man/autonomy_set.Rd
  man/cli.run.Rd
  man/methods_list.Rd
  man/report_render.Rd
  man/results_dir.Rd
  man/results_open.Rd
  man/viz_get.Rd
  man/viz_set.Rd
  man/viz_themes.Rd
  tests/testthat/test-autonomy.R
  tests/testthat/test-cli.R
  tests/testthat/test-deprecated-aliases.R
  tests/testthat/test-methods-table.R
Due: R, artms inst folder

feat(api): rename cli.* to cli_* and keep cli.run as a permanent alias
  NAMESPACE
  R/aaa.R
  R/cli.R
  inst/artma/cli/parser.R
  inst/cli/artma
  man/artma-deprecated.Rd
  man/cli_dispatch.Rd
  man/cli_install.Rd
  man/cli_run.Rd
  tests/E2E/test-cli.R
  tests/testthat/setup.R
  tests/testthat/test-cli.R
  tests/testthat/test-deprecated-aliases.R
Due: R, artms inst folder

docs(api): move README, vignettes, and pkgdown reference to snake_case names
  CLAUDE.md
  README.md
  _pkgdown.yml
  contributingGuides/METHODS.md
  vignettes/getting-started.Rmd
  vignettes/methods-overview.Rmd
  vignettes/options-files.Rmd
Due: none

fix(output): add a closing run summary and stop reading integers as percentages
  R/artma.R
  R/generated_check_manifest.R
  inst/artma/data/utils.R
  inst/artma/methods/effect_summary_stats.R
  inst/artma/output/run_summary.R
  man/invoke_runtime_methods.Rd
  tests/testthat/test-data-utils.R
  tests/testthat/test-run-summary.R
  vignettes/getting-started.Rmd
Due: R, artms inst folder

docs: advertise the pkgdown site URL in DESCRIPTION
  DESCRIPTION
Due: none

docs: regenerate artma-package.Rd with the site URL
  man/artma-package.Rd
Due: none

fix(output): drop zero counts from the run summary and winsorization notes
  inst/artma/data/preprocess.R
  inst/artma/libs/core/string.R
  inst/artma/output/run_summary.R
  tests/testthat/test-libs-string.R
  tests/testthat/test-run-summary.R
Due: artms inst folder

fix(data): derive study_label from a legible study name column when study keys are numeric
  inst/artma/data/compute.R
  tests/testthat/test-data-compute.R
Due: artms inst folder

fix(bpe): gate the "run BMA first?" prompt on the autonomy level
  inst/artma/methods/best_practice_estimate.R
  tests/testthat/test-bma-result-unwrap.R
Due: artms inst folder

fix(methods): keep sequential method output on the console so prompts show
  inst/artma/modules/method_execution.R
  tests/testthat/test-method-execution.R
Due: artms inst folder

fix(bma): drop non-numeric moderators instead of failing inside scale()
  inst/artma/methods/bma.R
  tests/testthat/test-bma.R
Due: artms inst folder

feat(replication): add harness for replicating IES theses with artma
  scripts/replication/.gitignore
  scripts/replication/README.md
  scripts/replication/manifests/_TEMPLATE.yaml
  scripts/replication/run_replication.R
  scripts/replication/test_harness.R
Due: none

feat(replication): add harness replicating 10 IES meta-analysis theses
  scripts/replication/.gitignore
  scripts/replication/README.md
  scripts/replication/SUMMARY.md
  scripts/replication/harness/compare.R
  scripts/replication/harness/dataset.R
  scripts/replication/harness/manifest.R
  scripts/replication/harness/summary.R
  scripts/replication/manifests/hatalova-2026-womens-empowerment.yaml
  scripts/replication/manifests/horak-2024-quantitative-easing.yaml
  scripts/replication/manifests/jurackova-2023-height-premium.yaml
  scripts/replication/manifests/kozlikova-2024-meat-fish-elasticity.yaml
  scripts/replication/manifests/krenkova-2023-milk-elasticity.yaml
  scripts/replication/manifests/marysko-2025-esg-earnings.yaml
  scripts/replication/manifests/nguyenova-2023-intelligence-income.yaml
  scripts/replication/manifests/pokorna-2023-parental-schooling.yaml
  scripts/replication/manifests/proks-2026-temperature-growth.yaml
  scripts/replication/manifests/simpartl-2023-military-growth.yaml
  scripts/replication/run_replication.R
  scripts/replication/test_harness.R
Due: none

fix(replication): match winsorization per thesis, correct the weighting claim
  scripts/replication/README.md
  scripts/replication/SUMMARY.md
  scripts/replication/manifests/hatalova-2026-womens-empowerment.yaml
  scripts/replication/manifests/horak-2024-quantitative-easing.yaml
  scripts/replication/manifests/jurackova-2023-height-premium.yaml
  scripts/replication/manifests/kozlikova-2024-meat-fish-elasticity.yaml
  scripts/replication/manifests/krenkova-2023-milk-elasticity.yaml
  scripts/replication/manifests/marysko-2025-esg-earnings.yaml
  scripts/replication/manifests/nguyenova-2023-intelligence-income.yaml
  scripts/replication/manifests/pokorna-2023-parental-schooling.yaml
  scripts/replication/manifests/proks-2026-temperature-growth.yaml
  scripts/replication/manifests/simpartl-2023-military-growth.yaml
Due: none

docs(replication): ground the weighting question in published papers, not theses
  scripts/replication/README.md
Due: none

test(replication): audit artma's estimators against reference implementations
  scripts/replication/README.md
  scripts/replication/audit_estimators.R
Due: none
