Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

Deploying to gh-pages from @ PetrCala/artma@9546b96b0d80aa518dfb546df31ee9477a6664c8 🚀
  pkgdown.yml
Due: none

feat(hub): preview submenu with health panel, column and study profiles
  contributingGuides/HUB.md
  inst/artma/interactive/hub.R
  inst/artma/interactive/preview.R
  tests/testthat/test-interactive-preview.R
  tests/testthat/test-session-hub.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@0808b77bf33730f82827b974d1157a94fa6bc8a1 🚀
  pkgdown.yml
Due: none

docs: add citation infrastructure (inst/CITATION, CITATION.cff, README section)
  .Rbuildignore
  CITATION.cff
  README.md
  inst/CITATION
Due: none

Deploying to gh-pages from @ PetrCala/artma@53e4978ae8e301b4458ab650fc6df3e1b798767a 🚀
  authors.html
  authors.md
  index.html
  index.md
  llms.txt
  pkgdown.yml
  search.json
Due: none

feat(interactive): adopt climenu 0.2.0 named choices and description columns
  DESCRIPTION
  contributingGuides/HUB.md
  contributingGuides/PROMPTS.md
  inst/artma/interactive/hub.R
  inst/artma/interactive/input.R
  inst/artma/interactive/menu.R
  inst/artma/interactive/method_picker.R
  inst/artma/interactive/options_file_menu.R
  inst/artma/interactive/preview.R
  inst/artma/interactive/save_preference.R
  tests/testthat/test-interactive-input.R
  tests/testthat/test-interactive-preview.R
  tests/testthat/test-method-picker.R
  tests/testthat/test-options-file-menu.R
  tests/testthat/test-options-prompts.R
  tests/testthat/test-session-hub.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@3f4eeb1fea2429fab0f1592bd122b76a48730a56 🚀
  pkgdown.yml
Due: none

docs: credit Matyáš Tvrz for the cluster-robust FMA contribution
  CITATION.cff
  DESCRIPTION
  README.md
Due: none

docs: regenerate artma-package.Rd for the new contributor
  man/artma-package.Rd
Due: none

Deploying to gh-pages from @ PetrCala/artma@41512f2a0c1b2ddeae213a7eb5fa356265b9a722 🚀
  authors.html
  authors.md
  index.html
  index.md
  llms.txt
  pkgdown.yml
  reference/artma-package.html
  reference/artma-package.md
  search.json
Due: none

fix(bma): report posterior means and SDs on the data scale, not the z-scored one
  contributingGuides/METHODS.md
  inst/artma/econometric/bma.R
  inst/artma/methods/bma.R
  tests/testthat/test-bma.R
Due: artms inst folder

fix(exogeneity): fit p-uniform* on all studies and add puniform_side option
  DESCRIPTION
  inst/artma/econometric/exogeneity.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-exogeneity.R
  vignettes/options-files.Rmd
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@325a431a0efc912fd74fbd74b24efaa1670510e2 🚀
  articles/options-files.html
  articles/options-files.md
  pkgdown.yml
  search.json
Due: none

ci(macos): install the pinned JAGS 4.3.1 pkg instead of Homebrew's jags 5
  .github/actions/setup-jags/action.yml
Due: none

ci(macos): drop stale Homebrew-linked RoBMA caches and rebuild it from source
  .github/workflows/R-CMD-check-extended.yaml
  .github/workflows/R-CMD-check.yaml
Due: none

fix(p_hacking_tests): run on unwinsorized data and add t_stat_source option
  R/artma.R
  R/generated_check_manifest.R
  contributingGuides/METHODS.md
  inst/artma/data/compute.R
  inst/artma/data/index.R
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/modules/runtime_methods.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/options/typed_accessors.R
  man/invoke_runtime_methods.Rd
  man/prepare_run_context.Rd
  tests/testthat/test-data-compute.R
  tests/testthat/test-econometric-p-hacking.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
  tests/testthat/test-run.R
  tests/testthat/test-runtime-methods.R
Due: R, artms inst folder

Deploying to gh-pages from @ PetrCala/artma@ab70618b22b97da086c6505aac8e0d0836b6dd21 🚀
  pkgdown.yml
Due: none

Deploying to gh-pages from @ PetrCala/artma@15c629b8b1b0c85e2d19f66b606c66a48be7ea4f 🚀
  pkgdown.yml
  reference/invoke_runtime_methods.html
  reference/invoke_runtime_methods.md
  reference/prepare_run_context.html
  reference/prepare_run_context.md
  search.json
Due: none

fix(preprocess): winsorize to order statistics (quantile type 1), not interpolated quantiles
  inst/artma/data/preprocess.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@204356e2c2ecee57fce7a9e09f745fa7a64ade3f 🚀
  pkgdown.yml
Due: none

fix(data): warn when winsorization overwrites a mapped precision column and skip imputing it
  inst/artma/data/compute.R
  inst/artma/data/na_handling.R
  inst/artma/data/utils.R
  tests/testthat/test-data-compute.R
  tests/testthat/test-data-na-handling.R
Due: artms inst folder

fix(effect_summary_stats): cluster the weighted-mean CI on study_id
  inst/artma/methods/effect_summary_stats.R
  tests/testthat/test-effect-summary-stats-integration.R
  tests/testthat/test-effect-summary-stats.R
  vignettes/methods-overview.Rmd
Due: artms inst folder

feat(exogeneity): add sqrt(n_obs) to the IV instrument enum and candidate set
  inst/artma/econometric/exogeneity.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-exogeneity.R
Due: artms inst folder

feat(options): document the dilut mprior and add 0.15 to the default Elliott supports
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-bma.R
  tests/testthat/test-econometric-p-hacking.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
  vignettes/options-files.Rmd
Due: artms inst folder

feat(data): add data.derived for user-defined interaction and indicator columns
  inst/artma/data/compute.R
  inst/artma/data/derived_columns.R
  inst/artma/data/index.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-derived-columns.R
  tests/testthat/test-data-prepare-phases.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@a336596a6959deacce84729cc6f2e4d168d20e75 🚀
  articles/methods-overview.html
  articles/methods-overview.md
  pkgdown.yml
Due: none
