Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

ci: modify the test coverage to run upon pr/push to master (was 'closed')
  .github/workflows/test-coverage.yaml
  codecov.yml
Due: none

fix: options now accept enum types
  R/aaa.R
  R/globals.R
  inst/artma/const.R
  inst/artma/data/utils.R
  inst/artma/data_config/parse.R
  inst/artma/options/ask.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/options/utils.R
Due: R, artms inst folder

chore: change the max object name length to 40
  .lintr.R
Due: none

fix: parsing the user options now properly displays help, modify the template to accommodate that
  R/main.R
  R/options.R
  inst/artma/data_config/parse.R
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
Due: R, artms inst folder

ci: add the option to add the skip cran label when opening a PR automatically
  scripts/openPR.sh
Due: none

fix: add a missing argument to the main function
  R/main.R
Due: R

chore: add a short sleep timer when choosing a file interactively
  inst/artma/options/template.R
Due: artms inst folder

chore: simplify the data config parsing
  inst/artma/data_config/parse.R
Due: artms inst folder

chore: remove a trailing browser call
  inst/artma/data_config/parse.R
Due: artms inst folder

feat: remove the unused data config methods - update through opt files now
  inst/artma/const.R
  inst/artma/data_config/parse.R
  inst/artma/data_config/update.R
  inst/artma/data_config/validate.R
  inst/artma/paths.R
  tests/testthat/test-data_config-parse.R
  tests/testthat/test-data_config-validate.R
Due: artms inst folder

chore: add placeholder changes to the options template
  inst/artma/options/prompts.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

feat: prompts can now be defined through custom options
  inst/artma/const.R
  inst/artma/options/prompts.R
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
  utils/too-be-added-to-readme.md
Due: artms inst folder

feat: implement a function to get a data config from the options file
  R/data_config.R
  R/options.R
  inst/artma/const.R
  inst/artma/data_config/read.R
  inst/artma/data_config/write.R
Due: R, artms inst folder

chore: update the package namespace
  NAMESPACE
Due: none

chore: add the 'get_data_config' function to the list of global objects
  R/globals.R
Due: R

chore: explicitly set the 'should_validate' arg for option loading upon runtime setup
  R/aaa.R
Due: R

feat: add temporary options for better path awareness
  R/aaa.R
  R/data_config.R
  R/options.R
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
Due: R, artms inst folder

refactor: the 'assert' function now accepts a 'msg' argument
  inst/artma/libs/validation.R
Due: artms inst folder

refactor: change the way the data config parsing function is structured
  inst/artma/data_config/parse.R
Due: artms inst folder

chore: add an explicit validation for user options input
  R/options.R
  inst/artma/options/utils.R
Due: R, artms inst folder

fix: add a missing CONST import to the options utils module
  inst/artma/options/utils.R
Due: artms inst folder

feat: add functions for modifying, fixing, and fetching data configurations
  R/data_config.R
  R/globals.R
  inst/artma/data_config/read.R
  inst/artma/data_config/utils.R
  inst/artma/data_config/write.R
Due: R, artms inst folder

chore: make maintenance changes to the config modification setup
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  inst/artma/data_config/write.R
Due: artms inst folder

docs: modify the config setup option help
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

fix: remove an unimported function
  inst/artma/data/index.R
Due: artms inst folder

chore: add a useful comment for further development
  inst/artma/data_config/write.R
Due: artms inst folder

fix: parsing option templates is now done through leaf paths
  R/globals.R
  R/options.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
Due: R, artms inst folder

fix: fix the data config top level module import error
  R/data_config.R
Due: R

chore: data config is now automatically created upon fetch if it does not exist yet
  inst/artma/data_config/read.R
  inst/artma/data_config/write.R
Due: artms inst folder

chore: add minor validations
  inst/artma/data/preprocess.R
  inst/artma/data_config/read.R
Due: artms inst folder

chore: add an explicit data config validation when fixing it
  inst/artma/data_config/read.R
  inst/artma/data_config/write.R
Due: artms inst folder

feat: partially enable data preprocessing, clean up cli messages
  R/globals.R
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  inst/artma/data_config/read.R
  inst/artma/data_config/write.R
Due: R, artms inst folder

ci: fix a component name in the codecov.yml config file
  codecov.yml
Due: none

chore: add functions for preprocessing and cleaning column names
  R/globals.R
  inst/artma/data/preprocess.R
  inst/artma/data_config/utils.R
Due: R, artms inst folder

refactor: change the parsing of the options template to allow nested nodes
  inst/artma/options/prompts.R
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
