Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

test: add a helper test script
  scripts/R/test.R
Due: none

build: remove the 'R/test.R' file from .gitignore
  .gitignore
Due: none

test: add fixtures and mocks
  R/globals.R
  inst/artma/libs/modules.R
  inst/artma/paths.R
  inst/artma/testing/fixtures/index.R
  inst/artma/testing/load_test_modules.R
  inst/artma/testing/mocks/index.R
  inst/artma/testing/mocks/mock_df.R
  scripts/R/test.R
  tests/testthat/helper.R
  tests/testthat/setup.R
  tests/testthat/test-data-preprocess.R
Due: R, artms inst folder

feat: add further column validation to data preprocessing
  R/globals.R
  inst/artma/data/preprocess.R
  inst/artma/data/utils.R
  inst/artma/testing/mocks/mock_df.R
  inst/artma/testing/mocks/mock_options.R
  scripts/R/test.R
  tests/testthat/test-data-preprocess.R
Due: R, artms inst folder

feat: deprecate the column standardization
  inst/artma/data/preprocess.R
  inst/artma/data/read.R
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/testing/mocks/mock_df.R
  inst/artma/testing/mocks/mock_options.R
  scripts/R/test.R
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

chore: add an explicit warning message for when a use provides non-standard values unexpectedly
  inst/artma/options/template.R
Due: artms inst folder

feat: in data processing, enforce the correct column types and names better
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  scripts/R/test.R
Due: artms inst folder

chore: remove redundant code comments and replace them with info logs
  inst/artma/data/preprocess.R
Due: artms inst folder

test: fix lint issues, suppress test messages
  inst/artma/testing/load_test_modules.R
Due: artms inst folder

test: improve the mock function for generating a data frame
  inst/artma/testing/mocks/mock_df.R
  inst/artma/testing/mocks/mock_utils.R
Due: artms inst folder

chore: minor changes to the data preprocessing functions
  R/globals.R
  inst/artma/data/compute.R
  inst/artma/data/index.R
Due: R, artms inst folder

fix: fix an import error
  inst/artma/data/index.R
Due: artms inst folder

fix: fix more data preprocessing import errors
  inst/artma/data/index.R
Due: artms inst folder

chore: slightly modify column name handling in data preprocessing
  inst/artma/data/preprocess.R
Due: artms inst folder

refactor: rewrite data processing into a pipeline
  DESCRIPTION
  R/dummy_functions.R
  inst/artma/data/preprocess.R
  inst/artma/data_config/read.R
Due: R, artms inst folder

fix: add missing explicit package imports back to the DESCRIPTION file
  DESCRIPTION
Due: none

test: fix test fixtures and suites
  inst/artma/testing/fixtures/fixture_colnames.R
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

feat: add methods for computing study/obs ID optional columns
  inst/artma/data/compute.R
  inst/artma/data/preprocess.R
Due: artms inst folder

test: the mock df function can now create a subset of the expected columns
  inst/artma/testing/mocks/mock_df.R
Due: artms inst folder

feat: add a calc placeholder module and calculation for t-values
  R/globals.R
  inst/artma/calc/index.R
  inst/artma/calc/meta.R
  inst/artma/data/compute.R
Due: R, artms inst folder

feat: add a utility function for calculating study sizes
  R/globals.R
  inst/artma/data/compute.R
  inst/artma/data/utils.R
Due: R, artms inst folder

refactor: standardize the column names of required and expected variable names
  R/globals.R
  inst/artma/data/compute.R
  inst/artma/data/preprocess.R
  inst/artma/data/read.R
  inst/artma/data/utils.R
  tests/testthat/test-data-utils.R
Due: R, artms inst folder

feat: improve option parsing validation and type coercion
  inst/artma/data/utils.R
  inst/artma/options/template.R
Due: artms inst folder

feat: rename reg_df -> reg_dof
  inst/artma/data/compute.R
  inst/artma/options/templates/options_template.yaml
  scripts/R/test.R
Due: artms inst folder

feat: add valiadtion and value enforcement methods for data preprocessing
  inst/artma/calc/index.R
  inst/artma/calc/meta.R
  inst/artma/data/clean.R
  inst/artma/data/compute.R
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: add a whitespace to the options template
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: remove the unused 'clean.R' module
  inst/artma/data/clean.R
  inst/artma/data/fill.R
Due: artms inst folder

chore: add the 'n_obs' column to the mock DF
  inst/artma/testing/mocks/mock_df.R
Due: artms inst folder

feat: add a function for fetching definitions from option templates
  R/globals.R
  inst/artma/data/preprocess.R
  inst/artma/data/utils.R
  inst/artma/libs/validation.R
  inst/artma/options/template.R
Due: R, artms inst folder

chore: remove whitespace in the options template
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

feat: add the purrr package, add utility functions for parsing data
  DESCRIPTION
  R/dummy_functions.R
  R/globals.R
  README-dev.md
  inst/artma/data/utils.R
  inst/artma/options/template.R
Due: R, artms inst folder

feat: add the 'study' column to the data recognized column names
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder
