Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

Deploying to gh-pages from @ PetrCala/artma@0525efdb1ac063f6f60dc837cdc113d93c62b548 🚀
  articles/options-files.html
  articles/options-files.md
  pkgdown.yml
  search.json
Due: none

feat(data): add data.derived for user-defined interaction and indicator columns
  inst/artma/data/compute.R
  inst/artma/data/derived_columns.R
  inst/artma/data/index.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-derived-columns.R
  tests/testthat/test-data-prepare-phases.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@44b6b28c6474635593b54d26ab9fc49a54fcd8e7 🚀
  pkgdown.yml
Due: none

fix(data): recompute a mapped t_stat under winsorization without imputing it
  inst/artma/data/compute.R
  inst/artma/data/utils.R
  tests/testthat/test-data-compute.R
  tests/testthat/test-data-na-handling.R
Due: artms inst folder

fix(data): keep data.derived columns out of schema drift reconciliation
  inst/artma/data/schema_detect.R
  tests/testthat/test-data-derived-columns.R
  tests/testthat/test-data-schema-reconcile.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@8f7a34673df2b0fafe14c8ccc14a2a8c9488ed47 🚀
  pkgdown.yml
Due: none

fix(p_hacking_tests): bound the Elliott battery at the canonical p_min = 1e-5
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-p-hacking.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
Due: artms inst folder

fix(run): isolate unwinsorized-frame build failures to the methods that need it
  R/artma.R
  contributingGuides/METHODS.md
  inst/artma/data/preprocess.R
  man/invoke_runtime_methods.Rd
  tests/testthat/test-data-preprocess.R
  tests/testthat/test-run.R
Due: R, artms inst folder

Deploying to gh-pages from @ PetrCala/artma@4918d5ff6f1b3c36db605db86ec5fc7d89de6907 🚀
  pkgdown.yml
Due: none

Deploying to gh-pages from @ PetrCala/artma@4d6d79c38f97ea38e3784fce8fa8d12eea2449a7 🚀
  pkgdown.yml
Due: none

Deploying to gh-pages from @ PetrCala/artma@2b21b2e7353c871a2cf755c7e3e4a5ac3c19b844 🚀
  pkgdown.yml
  reference/invoke_runtime_methods.html
  reference/invoke_runtime_methods.md
  search.json
Due: none

fix(data): drop vanished optional mappings and refuse ambiguous auto-renames in schema drift
  inst/artma/data/column_recognition.R
  inst/artma/data/schema_detect.R
  inst/artma/data/schema_persist.R
  inst/artma/data/schema_reconcile.R
  inst/artma/data/schema_ui.R
  tests/testthat/test-data-schema-detect.R
  tests/testthat/test-data-schema-reconcile.R
Due: artms inst folder

fix(data): refresh the schema baseline when an unmapped column disappears without drift
  inst/artma/data/schema_reconcile.R
  tests/testthat/test-data-schema-reconcile.R
Due: artms inst folder

test(data): import expect_identical in the schema reconcile tests
  tests/testthat/test-data-schema-reconcile.R
Due: none

ci(commit-lint): drop redundant apt and npx steps that dominate job runtime
  .github/workflows/commit-lint.yaml
Due: none

fix(p_hacking_tests): label Elliott rows with the support bound actually used
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-p-hacking.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@2f5c812fe47e67559243a8db4ffd00b6468b80b3 🚀
  pkgdown.yml
Due: none

Deploying to gh-pages from @ PetrCala/artma@cdf30ffc0d9cfa289aa47a91bdebdd949b295ece 🚀
  pkgdown.yml
Due: none

ci: pin commitlint deps in a lockfile and cache node_modules
  .Rbuildignore
  .github/workflows/commit-lint.yaml
  .gitignore
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ PetrCala/artma@b03284d24b365e622f453633e851ae14387b6a50 🚀
  pkgdown.yml
Due: none

ci(commit-lint): document cache branch scoping
  .github/workflows/commit-lint.yaml
Due: none

fix(data): read past a UTF-8 BOM so the first CSV column keeps its name
  inst/artma/data/smart_detection.R
  tests/testthat/test-data-read.R
  tests/testthat/test-data-smart-detection.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@e0ba93cdd700d7ace7504d91f59285736ac49ccb 🚀
  pkgdown.yml
Due: none

chore(hooks): use the pinned local commitlint in the commit-msg hook
  .githooks/commit-msg
Due: none

fix(data): reject schema reconcile menu answers that were never offered
  inst/artma/data/schema_ui.R
  tests/testthat/test-data-schema-reconcile.R
Due: artms inst folder

fix(data): assert numeric roles before winsorization and never coerce them as categories
  inst/artma/const.R
  inst/artma/data/preprocess.R
  inst/artma/data/utils.R
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

ci(commit-lint): run on master so PRs can share the dependency cache
  .github/workflows/commit-lint.yaml
Due: none

Deploying to gh-pages from @ PetrCala/artma@38ecf6b2aa38d92907f95beae0011a8eca9bf5b6 🚀
  pkgdown.yml
Due: none
