Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

fix(bma): exclude derived effect/se encodings from auto-selected moderators
  inst/artma/const.R
  inst/artma/methods/bma.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/variable/bma.R
  tests/testthat/test-bma-derived-encodings.R
  tests/testthat/test-data-config-defaults.R
  vignettes/methods-overview.Rmd
Due: artms inst folder

fix(data): stop strategy no longer aborts on optional-column NAs
  inst/artma/data/configure.R
  inst/artma/data/na_handling.R
  inst/artma/options/prompts.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-configure.R
  tests/testthat/test-data-na-handling.R
Due: artms inst folder

fix(bpe): auto-detect dummy predictors for factor summary table
  inst/artma/econometric/best_practice_estimate.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-best-practice-estimate.R
Due: artms inst folder

fix(data): stop treating lowercase na/n-a strings as missing values
  inst/artma/const.R
  tests/testthat/test-data-na-handling.R
  tests/testthat/test-data-read.R
Due: artms inst folder

fix(data): only hard-require columns the requested methods need
  R/artma.R
  inst/artma/data/index.R
  inst/artma/data/method_requirements.R
  inst/artma/data/schema_detect.R
  inst/artma/data/schema_reconcile.R
  inst/artma/data/utils.R
  tests/testthat/test-data-method-requirements.R
Due: R, artms inst folder

fix(e2e): shell-quote CLI args so the Rscript subprocess starts under sh
  tests/E2E/test-cli.R
Due: none

fix(preview): skip utils::View() when no data viewer is available
  R/data_preview.R
  R/generated_check_manifest.R
  inst/artma/libs/core/utils.R
  man/data.preview.Rd
  tests/testthat/test-data-preview.R
Due: R, artms inst folder

chore(release): note the Fedora segfault fix for CRAN reviewers
  .Rbuildignore
  manual_cran_comments.md
Due: none

chore: release v0.3.4
  DESCRIPTION
Due: none

ci(release): install git-chglog from a pinned release instead of brew
  .github/actions/composite/updateNews/action.yaml
Due: none

chore: release v0.3.5
  DESCRIPTION
Due: none

docs: update NEWS.md for v0.3.5
  NEWS.md
Due: none

fix: drop LazyData and dead Suggests, honour absolute graphics export path
  DESCRIPTION
  NEWS.md
  inst/artma/options/templates/options_template.yaml
  inst/artma/output/export.R
  tests/testthat/test-output-export.R
Due: artms inst folder

fix(data): write mock data to a durable user dir instead of tempfile
  inst/artma/const.R
  inst/artma/data/mock.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-mock.R
Due: artms inst folder

fix: keep lintr in Suggests, it is used by the linter unit tests
  DESCRIPTION
Due: none

fix(report): split method skip contract into skip_reason and skipped_models
  R/artma.R
  inst/artma/econometric/exogeneity.R
  inst/artma/methods/bma.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/methods/fma.R
  inst/artma/methods/linear_tests.R
  inst/artma/methods/maive.R
  inst/artma/methods/nonlinear_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/methods/robma.R
  inst/artma/modules/runtime_methods.R
  inst/artma/report/render.R
  tests/testthat/test-bma-result-unwrap.R
  tests/testthat/test-bma.R
  tests/testthat/test-econometric-exogeneity.R
  tests/testthat/test-linear-tests.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
  tests/testthat/test-nonlinear-tests.R
  tests/testthat/test-report-integration.R
  tests/testthat/test-report-render.R
  tests/testthat/test-robma.R
  tests/testthat/test-runtime-methods.R
Due: R, artms inst folder

feat(options): make options discoverable via help tree, list details and diff
  NAMESPACE
  R/generated_check_manifest.R
  R/options.R
  inst/artma/options/inspect.R
  inst/artma/output/export.R
  man/options.diff.Rd
  man/options.help.Rd
  man/options.list.Rd
  tests/testthat/test-options-inspect.R
  vignettes/options-files.Rmd
Due: R, artms inst folder

fix(output): resolve absolute graphics path in writers and escape literal braces in help
  inst/artma/options/templates/options_template.yaml
  inst/artma/options/utils.R
  inst/artma/output/export.R
  inst/artma/visualization/options.R
  tests/testthat/test-options-inspect.R
  tests/testthat/test-output-export.R
Due: artms inst folder

feat(output): add an unrounded tidy estimates slot to the method contract
  CLAUDE.md
  README.md
  inst/artma/methods/linear_tests.R
  inst/artma/modules/runtime_methods.R
  inst/artma/output/export.R
  tests/testthat/test-best-practice-estimate.R
  tests/testthat/test-funnel-plot.R
  tests/testthat/test-linear-tests.R
  tests/testthat/test-nonlinear-tests.R
  tests/testthat/test-output-export.R
  tests/testthat/test-runtime-methods.R
  tests/testthat/test-t-stat-histogram.R
Due: artms inst folder

feat(output): write a per-run run.json and drive the report and CLI from it
  R/artma.R
  R/cli.R
  R/generated_check_manifest.R
  R/report.R
  inst/artma/libs/infrastructure/cache.R
  inst/artma/libs/infrastructure/output_files.R
  inst/artma/modules/method_execution.R
  inst/artma/output/export.R
  inst/artma/output/run_manifest.R
  inst/artma/report/render.R
  man/artma.Rd
  man/cli.run.Rd
  man/cli_build_run_manifest.Rd
  man/report.render.Rd
  tests/testthat/test-cli.R
  tests/testthat/test-libs-cache.R
  tests/testthat/test-method-execution.R
  tests/testthat/test-report-render.R
  tests/testthat/test-run-manifest.R
  vignettes/getting-started.Rmd
Due: R, artms inst folder

feat(output): roll the estimates slot out across the remaining runtime methods
  CLAUDE.md
  R/artma.R
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/bma.R
  inst/artma/methods/effect_summary_stats.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/methods/fma.R
  inst/artma/methods/maive.R
  inst/artma/methods/nonlinear_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/methods/robma.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/output/export.R
  inst/artma/output/ma_table.R
  tests/testthat/test-econometric-p-hacking.R
  tests/testthat/test-effect-summary-stats-integration.R
  tests/testthat/test-ma-table.R
  tests/testthat/test-method-estimates-contract.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
  tests/testthat/test-output-export.R
  tests/testthat/test-variable-summary-stats.R
Due: R, artms inst folder

fix(output): normalise manifest paths to forward slashes for Windows
  inst/artma/output/run_manifest.R
  tests/testthat/test-run-manifest.R
Due: artms inst folder

docs: split deep contracts into contributingGuides and slim CLAUDE.md to a stable map
  .Rbuildignore
  AGENTS.md
  CLAUDE.md
  README-dev.md
  contributingGuides/CACHING.md
  contributingGuides/METHODS.md
  contributingGuides/OPTIONS.md
Due: none

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
