Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

chore: modify verbosity levels around the package
  R/options.R
  scripts/R/test.R
Due: R

chore: fix more verbosity levels
  R/options.R
Due: R

chore: more verbosity changes
  R/options.R
  scripts/R/test.R
Due: R

refactor: wrap all verbosity fetching into a single function
  R/aaa.R
  R/globals.R
  R/main.R
  R/methods.R
  R/options.R
  R/run.R
  inst/artma/calc/meta.R
  inst/artma/calc/pcc.R
  inst/artma/const.R
  inst/artma/data/compute.R
  inst/artma/data/fill.R
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  inst/artma/data_config/parse.R
  inst/artma/data_config/read.R
  inst/artma/data_config/write.R
  inst/artma/libs/file_utils.R
  inst/artma/libs/modules.R
  inst/artma/libs/utils.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/prompts.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/testing/mocks/mock_df.R
  scripts/R/test.R
Due: R, artms inst folder

chore: refactor the run module imports
  R/run.R
Due: R

feat: add new methods, fix caching, add optional cache disabling
  inst/artma/const.R
  inst/artma/libs/cache.R
  inst/artma/methods/effect_summary_stats.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/templates/options_template.yaml
  scripts/R/test.R
Due: artms inst folder

ci: add an R script for clearing cache
  run.sh
  scripts/R/clear_cache.R
  scripts/clearCache.sh
Due: none

feat: add a cli capture handler for print output
  inst/artma/libs/cache.R
Due: artms inst folder

docs: add a utility comment to the dev README file
  utils/README.md
Due: none

chore: add an AGENTS.md file
  AGENTS.md
Due: none

feat: harden cache cli system
  README-dev.md
  inst/artma/libs/cache.R
  tests/testthat/test-libs-cache.R
Due: artms inst folder

fix: use cli default handler fallback
  inst/artma/libs/cache.R
Due: artms inst folder

fix: drop stale memoise entries per invocation
  inst/artma/libs/cache.R
Due: artms inst folder

fix: harden cache invalidation handling
  .Rbuildignore
  README-dev.md
  inst/artma/libs/cache.R
Due: artms inst folder

fix: silence ttl refresh replay noise
  inst/artma/libs/cache.R
Due: artms inst folder

fix: satisfy lint restrictions in cache helpers
  AGENTS.md
  inst/artma/libs/cache.R
Due: artms inst folder

chore: rebase into feat/methods
  .lintr.R
  R/linters.R
  R/options.R
  R/zzz.R
  inst/artma/data/fill.R
  inst/artma/data_config/read.R
  inst/artma/data_config/utils.R
  inst/artma/libs/file_utils.R
  inst/artma/libs/number_utils.R
  inst/artma/libs/path.R
  inst/artma/libs/string.R
  inst/artma/libs/utils.R
  inst/artma/libs/validation.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/paths.R
Due: R, artms inst folder

test: cover indentation guard clause linter
  tests/testthat/test-indentation_guard_clause_linter.R
Due: none

fix: enforce guard clause indentation width
  R/linters.R
  tests/testthat/test-indentation_guard_clause_linter.R
Due: R

chore: format the linter file
  R/linters.R
Due: R

docs: minor changes
  inst/artma/libs/cache.R
Due: artms inst folder

feat: add the option to choose verbosity
  R/globals.R
  README.md
  inst/artma/data_config/parse.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/index.R
  inst/artma/options/templates/options_template.yaml
Due: R, artms inst folder

feat: add a caching system
  R/globals.R
  inst/artma/const.R
  inst/artma/libs/cache.R
  inst/artma/paths.R
  inst/artma/testing/mocks/mock_df.R
Due: R, artms inst folder
