Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

fix: satisfy lint restrictions in cache helpers
  AGENTS.md
  inst/artma/libs/cache.R
Due: artms inst folder

feat: add a cli capture handler for print output
  inst/artma/libs/cache.R
Due: artms inst folder

refactor: wrap all verbosity fetching into a single function
  R/aaa.R
  R/globals.R
  R/main.R
  R/methods.R
  R/options.R
  R/run.R
  inst/artma/calc/meta.R
  inst/artma/calc/pcc.R
  inst/artma/const.R
  inst/artma/data/compute.R
  inst/artma/data/fill.R
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  inst/artma/data_config/parse.R
  inst/artma/data_config/read.R
  inst/artma/data_config/write.R
  inst/artma/libs/file_utils.R
  inst/artma/libs/modules.R
  inst/artma/libs/utils.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/prompts.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/testing/mocks/mock_df.R
  scripts/R/test.R
Due: R, artms inst folder

refactor: single out the function for printing options help text
  R/globals.R
  R/options.R
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/options/utils.R
Due: R, artms inst folder

feat: harden cache cli system
  README-dev.md
  inst/artma/libs/cache.R
  tests/testthat/test-libs-cache.R
Due: artms inst folder

chore: refactor the run module imports
  R/run.R
Due: R

feat: add caching to the variable summary stats function
  inst/artma/methods/variable_summary_stats.R
Due: artms inst folder

chore: modify verbosity levels around the package
  R/options.R
  scripts/R/test.R
Due: R

chore: format the linter file
  R/linters.R
Due: R

feat: add an explicit wrapper function for fetching cached artifacts
  R/globals.R
  inst/artma/libs/cache.R
  tests/testthat/test-libs-cache.R
Due: R, artms inst folder

feat: control for verbosity in all of the existing cli logs
  R/aaa.R
  R/main.R
  R/methods.R
  R/options.R
  R/run.R
  inst/artma/calc/meta.R
  inst/artma/calc/pcc.R
  inst/artma/data/compute.R
  inst/artma/data/fill.R
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  inst/artma/data_config/parse.R
  inst/artma/data_config/read.R
  inst/artma/data_config/write.R
  inst/artma/libs/file_utils.R
  inst/artma/libs/modules.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/prompts.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/testing/mocks/mock_df.R
Due: R, artms inst folder

fix: silence ttl refresh replay noise
  inst/artma/libs/cache.R
Due: artms inst folder

fix: remove non-ascii characters
  R/options.R
  R/run.R
Due: R

feat: add cache packages and test suites
  DESCRIPTION
  R/dummy_functions.R
  README-dev.md
  inst/artma/libs/cache.R
  inst/artma/paths.R
  tests/testthat/helper-fixtures.R
  tests/testthat/helper-test-cache.R
  tests/testthat/test-libs-cache.R
Due: R, artms inst folder

test: fix the rest of the cache tests
  inst/artma/libs/cache.R
  tests/testthat/test-libs-cache.R
Due: artms inst folder

test: cover indentation guard clause linter
  tests/testthat/test-indentation_guard_clause_linter.R
Due: none

chore: more verbosity changes
  R/options.R
  scripts/R/test.R
Due: R

feat: implement the variable summary stats method
  inst/artma/const.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

test: silence the test motivation messages
  tests/testthat.R
Due: none

docs: add a utility comment to the dev README file
  utils/README.md
Due: none

feat: implement the custom caching functions and add test suites
  R/globals.R
  inst/artma/libs/cache.R
  inst/artma/libs/modules.R
  tests/testthat/test-libs-cache.R
Due: R, artms inst folder

feat: add an option to select how many decimal places to round the output to
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: replace three dots with a single character
  R/options.R
  R/run.R
  inst/artma/data/compute.R
  inst/artma/data_config/read.R
  inst/artma/data_config/write.R
  inst/artma/libs/modules.R
  inst/artma/libs/validation.R
  inst/artma/options/ask.R
  scripts/R/env.R
  scripts/R/fix_options.R
Due: R, artms inst folder

ci: add an R script for clearing cache
  run.sh
  scripts/R/clear_cache.R
  scripts/clearCache.sh
Due: none

chore: rebase into feat/methods
  .lintr.R
  R/linters.R
  R/options.R
  R/zzz.R
  inst/artma/data/fill.R
  inst/artma/data_config/read.R
  inst/artma/data_config/utils.R
  inst/artma/libs/file_utils.R
  inst/artma/libs/number_utils.R
  inst/artma/libs/path.R
  inst/artma/libs/string.R
  inst/artma/libs/utils.R
  inst/artma/libs/validation.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/paths.R
Due: R, artms inst folder

chore: fix more verbosity levels
  R/options.R
Due: R

refactor: add linters to tests, refactor fixtures
  .lintr.R
  inst/artma/testing/fixtures/helper_colnames.R
  inst/artma/testing/fixtures/helper_test_cache.R
  inst/artma/testing/fixtures/index.R
  tests/E2E/test-installation.R
  tests/testthat.R
  tests/testthat/helper-fixtures.R
  tests/testthat/test-data-utils.R
  tests/testthat/test-dir_create_linter.R
  tests/testthat/test-indentation_guard_clause_linter.R
  tests/testthat/test-libs-cache.R
Due: artms inst folder

docs: format the dev readme file
  README-dev.md
Due: none

refactor: reorganize options management
  R/options.R
  inst/artma/options/manager.R
  tests/testthat/test-options-manager.R
  tests/testthat/test-options.R
Due: R, artms inst folder

feat: utilize the new caching system to cache data preprocessing
  inst/artma/data/index.R
Due: artms inst folder

refactor: modularize options handling
  R/options.R
  inst/artma/options/files.R
  tests/testthat/test-options.R
Due: R, artms inst folder

test: add missing box imports to the options test suite
  tests/testthat/test-options.R
Due: none

fix: update options file behavior in edge cases
  inst/artma/const.R
  inst/artma/options/files.R
Due: artms inst folder

fix: the run module now handles input better
  R/run.R
  scripts/R/test.R
Due: R

test: add a test suite for the run module
  tests/testthat/test-run.R
Due: none
