Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

docs: add climenu package guidance to CLAUDE.md
  CLAUDE.md
Due: none

fix: add Makefile and related files to .Rbuildignore
  .Rbuildignore
Due: none

docs: update the .Rd artifacts using roxygen
  man/artma-package.Rd
  man/config.fix.Rd
  man/dir_create_linter.Rd
  man/dot-onLoad.Rd
  man/dot-onUnload.Rd
  man/get_valid_boxpath.Rd
  man/indentation_guard_clause_linter.Rd
  man/invoke_runtime_methods.Rd
  man/is_devtools_load.Rd
  man/main.Rd
  man/methods.list.Rd
  man/options.copy.Rd
  man/options.create.Rd
  man/options.delete.Rd
  man/options.fix.Rd
  man/options.help.Rd
  man/options.list.Rd
  man/options.load.Rd
  man/options.modify.Rd
  man/options.open.Rd
  man/options.print_default_dir.Rd
  man/options.validate.Rd
  man/run.Rd
  man/runtime_setup.Rd
Due: none

fix: improve keyboard input handling in climenu
  inst/artma/climenu/README.md
  inst/artma/climenu/utils.R
Due: artms inst folder

feat: replace run.sh with Makefile for build tasks
  .make-help.md
  CLAUDE.md
  Makefile
Due: none

chore: release v0.3.0
  DESCRIPTION
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

docs: update NEWS.md for v0.3.0
  NEWS.md
Due: none

fix: resolve linter warnings and style issues
  .lintr.R
  inst/artma/calc/pcc.R
  inst/artma/data_config/write.R
  inst/artma/libs/string.R
  inst/artma/libs/utils.R
  inst/artma/libs/validation.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/testing/mocks/mock_utils.R
Due: artms inst folder

chore: fix lint errors
  R/aaa.R
  R/dummy_functions.R
  R/linters.R
  R/methods.R
  R/options.R
  R/run.R
  R/zzz.R
  inst/artma/data/compute.R
  inst/artma/libs/linear_tests.R
  inst/artma/libs/nonlinear_tests.R
  inst/artma/options/ask.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  scripts/R/release.R
Due: R, artms inst folder

ci: add claude agents
  .claude/agents/artma-method-builder.json
  .claude/agents/artma-tester.json
Due: none

chore: remove run.sh and migrate all references to make
  CLAUDE.md
  README-dev.md
  run.sh
  utils/README.md
Due: none

fix: rewrite the menu select usage to reference the climenu package correctly
  R/options.R
  R/run.R
  inst/artma/libs/ask.R
  inst/artma/options/ask.R
  scripts/R/test.R
Due: R, artms inst folder

fix: udpate the fix_options.R script
  scripts/R/fix_options.R
Due: none

chore: release v0.3.1
  DESCRIPTION
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

docs: update NEWS.md for v0.3.1
  NEWS.md
Due: none

feat: add intelligent data reading and column recognition
  inst/artma/data/column_recognition.R
  inst/artma/data/index.R
  inst/artma/data/interactive_mapping.R
  inst/artma/data/read.R
  inst/artma/data/smart_detection.R
  inst/artma/data/utils.R
  scripts/R/test.R
Due: artms inst folder

fix: reduce false positives in column recognition and fix options flow
  inst/artma/data/column_recognition.R
  inst/artma/options/column_preprocessing.R
  inst/artma/options/template.R
Due: artms inst folder

chore: remove the column recognition test
  scripts/R/test.R
Due: none

chore: fix an invalid reference in the test.R file
  scripts/R/test.R
Due: none

test: add comprehensive test suites for new data reading features
  tests/testthat/test-data-column-recognition.R
  tests/testthat/test-data-interactive-mapping.R
  tests/testthat/test-data-smart-detection.R
  tests/testthat/test-options-column-preprocessing.R
Due: none

fix: disable auto-detection in standardize_column_names tests
  tests/testthat/test-data-utils.R
Due: none

chore: fix lint issues
  inst/artma/data/column_recognition.R
  inst/artma/data/interactive_mapping.R
  tests/testthat/test-data-column-recognition.R
  tests/testthat/test-data-smart-detection.R
Due: artms inst folder

feat: add a smart recognition system for input column names
  inst/artma/data/column_recognition.R
  tests/testthat/test-data-column-resolution.R
Due: artms inst folder

feat: add exogeneity tests as a new runtime method
  DESCRIPTION
  inst/artma/const.R
  inst/artma/libs/exogeneity_tests.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: remove outdated source files
  utils/src/methods/elliott_master_thesis_cala.R
  utils/src/methods/endo_kink_master_thesis_cala.R
  utils/src/methods/selection_model_master_thesis_cala.R
  utils/src/methods/stem_method_master_thesis_cala.R
  utils/src/source.R
Due: none

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
