Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

refactor(options): drop unreachable template prompt wiring for na and se-zero handling
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

feat(interactive): add validate and sanitize hooks to ask_text
  inst/artma/interactive/input.R
  tests/testthat/test-interactive-input.R
Due: artms inst folder

fix(nonlinear): clarify selection model publication-probability rows
  inst/artma/econometric/nonlinear.R
  inst/artma/methods/nonlinear_tests.R
  tests/testthat/test-nonlinear-tests.R
Due: artms inst folder

feat(interactive): add ask_select and ask_yes_no menu helpers
  inst/artma/interactive/input.R
  tests/testthat/test-interactive-input.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@ba939c822aa1214f6f352895a707d287be452042 🚀
  pkgdown.yml
Due: none

refactor(options): rebuild option value prompt on ask_text and export it
  inst/artma/options/template.R
  tests/testthat/test-options-prompt-value.R
Due: artms inst folder

refactor(options): rewrite custom option prompts on ask_select
  inst/artma/options/prompts.R
  tests/testthat/test-options-prompts.R
Due: artms inst folder

fix(data): repair non-UTF-8 input and reconcile missing required columns on first run
  inst/artma/data/normalize.R
  inst/artma/data/schema_reconcile.R
  inst/artma/data/schema_ui.R
  inst/artma/data/smart_detection.R
  inst/artma/options/column_preprocessing.R
  tests/testthat/test-data-encoding.R
  tests/testthat/test-data-method-requirements.R
  tests/testthat/test-options-column-preprocessing.R
Due: artms inst folder

refactor: migrate ad-hoc readline prompts to ask_text
  inst/artma/data/interactive_mapping.R
  inst/artma/interactive/effect_summary_stats.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/options/ask.R
Due: artms inst folder

fix(viz): handle cancelled theme selection in viz_set
  R/generated_check_manifest.R
  R/viz.R
Due: R

refactor: migrate yes/no and menu call sites to ask_yes_no and ask_select
  R/aaa.R
  R/artma.R
  R/cli.R
  R/generated_check_manifest.R
  R/options.R
  inst/artma/interactive/ask.R
  inst/artma/interactive/save_preference.R
Due: R, artms inst folder

docs: add interactive prompt contract guide
  CLAUDE.md
  contributingGuides/PROMPTS.md
Due: none

Deploying to gh-pages from @ PetrCala/artma@e0c6657d51f7d63598b8a4877c4dee862c4e5c81 🚀
  pkgdown.yml
Due: none

Deploying to gh-pages from @ PetrCala/artma@dd7f7afdd29f5b68e9deb397cd3433ae25e8ed20 🚀
  CLAUDE.html
  CLAUDE.md
  pkgdown.yml
  search.json
Due: none

fix(data): treat Stata missing markers as NA at read time
  inst/artma/const.R
  inst/artma/data/normalize.R
  inst/artma/data/role_evidence.R
  tests/testthat/test-data-encoding.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@4154b1ab80e8d85e5ea3c9042a54683a17dcc938 🚀
  pkgdown.yml
Due: none

feat(interactive): add ask_checkbox helper to the prompt contract
  contributingGuides/PROMPTS.md
  inst/artma/interactive/input.R
  tests/testthat/test-interactive-input.R
Due: artms inst folder

refactor: split artma() main() into composable pipeline steps
  R/artma.R
  man/execute_run.Rd
  man/prepare_run_context.Rd
  man/summarize_run.Rd
  tests/testthat/test-run.R
Due: R

Deploying to gh-pages from @ PetrCala/artma@bf9d0c50439bc08ec7218ceb68c6208843603b72 🚀
  pkgdown.yml
  reference/execute_run.html
  reference/execute_run.md
  reference/prepare_run_context.html
  reference/prepare_run_context.md
  reference/summarize_run.html
  reference/summarize_run.md
  search.json
  sitemap.xml
Due: none

feat(interactive): decorate method picker with metadata and preflight status
  R/artma.R
  R/generated_check_manifest.R
  inst/artma/interactive/method_picker.R
  inst/artma/modules/methods_table.R
  man/artma-package.Rd
  tests/testthat/test-method-picker.R
Due: R, artms inst folder

fix(docs): regenerate package Rd under UTF-8 locale
  man/artma-package.Rd
Due: none

Deploying to gh-pages from @ PetrCala/artma@6bcb8557fafe6e692fe76605c294e5bd9d9955ba 🚀
  pkgdown.yml
Due: none

feat(interactive): add session hub menu loop for interactive artma() runs
  CLAUDE.md
  R/artma.R
  R/generated_check_manifest.R
  contributingGuides/HUB.md
  inst/artma/interactive/hub.R
  man/artma.Rd
  tests/testthat/test-session-hub.R
Due: R, artms inst folder

Deploying to gh-pages from @ PetrCala/artma@4eac1daff6cce4630cf97cf0b66566853b8bfd19 🚀
  CLAUDE.html
  CLAUDE.md
  pkgdown.yml
  reference/artma.html
  reference/artma.md
  search.json
Due: none

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
