Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

fix: the run module now handles input better
  R/run.R
  scripts/R/test.R
Due: R

test: add a test suite for the run module
  tests/testthat/test-run.R
Due: none

refactor: move the runtime method fetch function to a standalone modules folder
  R/methods.R
  R/run.R
  inst/artma/modules/runtime_methods.R
  tests/testthat/test-runtime-methods.R
Due: R, artms inst folder

refactor: move module functions to a standalone folder
  inst/artma/libs/cache.R
  inst/artma/modules/box_path.R
  inst/artma/modules/index.R
  inst/artma/modules/runtime_methods.R
  inst/artma/modules/utils.R
  inst/artma/testing/load_test_modules.R
  tests/testthat/test-run.R
Due: artms inst folder

test: cover libs path helpers
  tests/testthat/test-libs-path.R
Due: none

fix: update modules handling, add a function for finding the package path
  inst/artma/modules/index.R
  inst/artma/modules/path.R
  inst/artma/modules/utils.R
  tests/testthat/test-modules-box_path.R
Due: artms inst folder

refactor: update path handling
  inst/artma/modules/path.R
  inst/artma/paths.R
Due: artms inst folder

chore: rename the test-box_path to test-path
  tests/testthat/test-modules-path.R
Due: none

feat: add reusable cache_cli runner wrappers
  README-dev.md
  inst/artma/data/cache_signatures.R
  inst/artma/data/index.R
  inst/artma/libs/cache.R
  inst/artma/methods/effect_summary_stats.R
  inst/artma/methods/variable_summary_stats.R
  tests/testthat/test-libs-cache.R
Due: artms inst folder

docs: document dependency version policy
  DESCRIPTION
  NAMESPACE
  R/artma_package.R
  R/dummy_functions.R
  README-dev.md
Due: R

refactor: use cache runner for effect stats
  inst/artma/methods/effect_summary_stats.R
  tests/testthat/test-effect-summary-stats.R
Due: artms inst folder

fix: update broken code in the effect and summary stats parts
  inst/artma/methods/effect_summary_stats.R
  tests/testthat/test-effect-summary-stats.R
Due: artms inst folder

test: silence cli output from cache specs
  tests/testthat/test-libs-cache.R
Due: none

fix: isolate cache keys per runtime stage
  inst/artma/libs/cache.R
  tests/testthat/test-libs-cache.R
Due: artms inst folder

chore: add a helper module to the utils folder
  utils/src/source.R
Due: none

test: expect stage metadata in cache runner signature
  tests/testthat/test-libs-cache.R
Due: none

chore: add custom methods to the source folder
  utils/src/methods/elliott_master_thesis_cala.R
  utils/src/methods/endo_kink_master_thesis_cala.R
  utils/src/methods/maive_master_thesis_cala.r
  utils/src/methods/selection_model_master_thesis_cala.R
  utils/src/methods/stem_method_master_thesis_cala.R
Due: none

feat: add linear publication bias tests
  DESCRIPTION
  NEWS.md
  inst/artma/calc/linear_models.R
  inst/artma/methods/linear_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-linear-tests.R
Due: artms inst folder

refactor: port legacy methods with regression tests
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/endo_kink.R
  inst/artma/calc/methods/selection_model.R
  inst/artma/calc/methods/stem.R
  tests/testthat/test-methods-elliott.R
  tests/testthat/test-methods-endo-kink.R
  tests/testthat/test-methods-selection-model.R
  tests/testthat/test-methods-stem.R
Due: artms inst folder

refactor: fix lint issues and test suite issues for the custom methods
  DESCRIPTION
  README-dev.md
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/endo_kink.R
  inst/artma/calc/methods/selection_model.R
  inst/artma/calc/methods/stem.R
  tests/testthat/test-methods-elliott.R
  tests/testthat/test-methods-endo-kink.R
  tests/testthat/test-methods-selection-model.R
  tests/testthat/test-methods-stem.R
Due: artms inst folder

fix: update a number of custom methods and their tests
  .lintr.R
  inst/artma/calc/dof.R
  inst/artma/calc/methods/selection_model.R
  tests/testthat/test-methods-elliott.R
  tests/testthat/test-methods-endo-kink.R
  tests/testthat/test-methods-selection-model.R
  tests/testthat/test-methods-stem.R
  utils/src/methods/selection_model_master_thesis_cala.R
Due: artms inst folder

refactor: finish the custom linear/nonlinear methods migration
  R/methods.R
  R/run.R
  R/zzz.R
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/endo_kink.R
  inst/artma/calc/methods/selection_model.R
  inst/artma/calc/methods/stem.R
  inst/artma/data/fill.R
  inst/artma/data/utils.R
  tests/testthat/test-methods-elliott.R
  tests/testthat/test-methods-endo-kink.R
  tests/testthat/test-methods-selection-model.R
  tests/testthat/test-methods-stem.R
Due: R, artms inst folder

refactor: update the rest of the methods modules
  .lintr.R
  R/options.R
  R/zzz.R
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/endo_kink.R
  inst/artma/calc/methods/selection_model.R
  inst/artma/calc/methods/stem.R
  tests/testthat/test-methods-stem.R
Due: R, artms inst folder

chore: remove a redundant zzz box config
  R/zzz.R
Due: R

chore: update imports
  tests/testthat/test-run.R
Due: none

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
