Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

fix(maive): flag weak first-stage instrument and document maive_first_stage
  inst/artma/econometric/p_hacking.R
  inst/artma/options/templates/options_template.yaml
  src-baseline_ci.rds/RcppExports.cpp
  src-baseline_ci.rds/elliott_cdfs.cpp
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

docs: require absolute output paths in ad-hoc scripts
  CLAUDE.md
Due: none

feat(maive): add automatic first-stage selection from sample-size spread
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

fix(elliott): use integer knot indices in pure R CDF simulation fallback
  inst/artma/calc/methods/elliott.R
  tests/testthat/test-elliott-simulate-cdfs.R
Due: artms inst folder

perf(elliott): share pair lambdas across Cox-Shi bound orders
  inst/artma/calc/methods/elliott.R
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

feat(p_hacking): raise default LCM iterations to 10000
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

perf(p_hacking_tests): cache LCM critical-value simulation under a narrow key
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/elliott_cache.R
  inst/artma/econometric/p_hacking.R
  tests/testthat/test-econometric-p-hacking.R
  tests/testthat/test-elliott-cdfs-cache.R
Due: artms inst folder

fix(data): abort on colliding column-rename targets in standardize_column_names
  inst/artma/data/utils.R
  tests/testthat/test-data-utils.R
Due: artms inst folder

feat(maive): split MAIVE into its own method with sectioned, annotated output
  README.md
  inst/artma/econometric/maive.R
  inst/artma/econometric/p_hacking.R
  inst/artma/libs/formatting/results.R
  inst/artma/methods/maive.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-maive.R
  tests/testthat/test-econometric-p-hacking.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
  tests/testthat/test-result-formatters.R
  vignettes/getting-started.Rmd
  vignettes/methods-overview.Rmd
  vignettes/options-files.Rmd
Due: artms inst folder

fix: quoted data paths, duplicate column mapping, exogeneity table gaps
  DESCRIPTION
  inst/artma/econometric/exogeneity.R
  inst/artma/libs/formatting/results.R
  inst/artma/methods/box_plot.R
  inst/artma/options/template.R
  tests/testthat/test-box-plot-study-label.R
  tests/testthat/test-econometric-exogeneity.R
  tests/testthat/test-options-prompt-input.R
  tests/testthat/test-result-formatters.R
Due: artms inst folder

fix(options): merge nested user_input safely and validate before overwrite
  R/options.R
  man/options.create.Rd
  man/options.modify.Rd
  tests/testthat/test-options.R
Due: R

fix(data): treat NA options as unset and drop non-numeric required NAs under remove
  R/artma.R
  R/generated_check_manifest.R
  inst/artma/data/na_handling.R
  inst/artma/data/preprocess.R
  inst/artma/libs/core/utils.R
  tests/testthat/test-data-na-handling.R
  tests/testthat/test-data-preprocess.R
  tests/testthat/test-options-strict.R
  tests/testthat/test-options-template-parity.R
Due: R, artms inst folder

fix(modules): newline-terminate captured cli messages, NA-safe parallel option read
  inst/artma/modules/method_execution.R
  tests/testthat/test-method-execution.R
Due: artms inst folder

fix(output): resolve auto output dir per options file and never persist it
  inst/artma/output/export.R
  tests/testthat/test-output-export.R
Due: artms inst folder

fix(options): flatten nested user_input on create, honor mock input, fix CONST scope
  R/options.R
  inst/artma/data/mock.R
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-options.R
Due: R, artms inst folder

build: install dependencies via remotes instead of deprecated devtools::install_deps
  Makefile
  scripts/setup.sh
Due: none

feat(bma): announce auto-included priority moderators during variable selection
  inst/artma/variable/bma.R
Due: artms inst folder

docs: document BMA priority moderators, robma method, and Windows JAGS caveat
  README.md
  vignettes/methods-overview.Rmd
  vignettes/options-files.Rmd
Due: none

chore: delete unused polyfills module and its test
  inst/artma/libs/infrastructure/polyfills.R
  tests/testthat/test-polyfills.R
Due: artms inst folder

docs(ci): clarify manifest staleness check already gates PRs
  .github/workflows/lint.yaml
Due: none

refactor(options): share one option type registry across coerce and validate
  inst/artma/options/template.R
  inst/artma/options/type_registry.R
  inst/artma/options/utils.R
  tests/testthat/test-options-type-registry.R
Due: artms inst folder

refactor(data): extract shared column profiler into data/profile.R
  inst/artma/data/column_recognition.R
  inst/artma/data/na_handling.R
  inst/artma/data/profile.R
  inst/artma/variable/detection.R
  inst/artma/variable/suggestion.R
  tests/testthat/test-data-profile.R
Due: artms inst folder

fix: force sequential execution when already inside a forked worker
  inst/artma/calc/methods/elliott.R
  inst/artma/modules/method_execution.R
Due: artms inst folder
