Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

test: add nonlinear test suite
  tests/testthat/test-nonlinear-tests.R
Due: none

refactor: unify significance marks option
  inst/artma/methods/linear_tests.R
  inst/artma/methods/nonlinear_tests.R
  inst/artma/options/significance_marks.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-linear-tests.R
  tests/testthat/test-options-significance-marks.R
Due: artms inst folder

test: stabilize nonlinear selection fixture
  tests/testthat/test-nonlinear-tests.R
Due: none

chore: suppress the nonlinear tests warnings
  tests/testthat/test-nonlinear-tests.R
Due: none

fix: satisfy R CMD check warnings
  .gitignore
  R/globals.R
  R/zzz.R
  man/config.fix.Rd
  man/main.Rd
  man/methods.list.Rd
  man/options.copy.Rd
  man/options.create.Rd
  man/options.delete.Rd
  man/options.fix.Rd
  man/options.help.Rd
  man/options.list.Rd
  man/options.load.Rd
  man/options.modify.Rd
  man/options.open.Rd
  man/options.print_default_dir.Rd
  man/options.validate.Rd
  man/run.Rd
Due: R

chore: add man files
  man/artma-package.Rd
  man/dir_create_linter.Rd
  man/dot-onLoad.Rd
  man/dot-onUnload.Rd
  man/get_valid_boxpath.Rd
  man/invoke_runtime_methods.Rd
  man/is_devtools_load.Rd
  man/runtime_setup.Rd
Due: none

chore: re-run the document command
  DESCRIPTION
  NAMESPACE
  man/indentation_guard_clause_linter.Rd
Due: none

chore: release v0.2.2
  DESCRIPTION
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

docs: update NEWS.md for v0.2.2
  NEWS.md
Due: none

chore: add a missing global object
  R/globals.R
Due: R

docs: normalize the description file
  DESCRIPTION
Due: none

chore: add CLAUDE.md
  CLAUDE.md
Due: none

docs: format the CLAUDE.md file
  CLAUDE.md
Due: none

chore: add CLAUDE.md to rbuildignore
  .Rbuildignore
Due: none

feat: add climenu sub-package for interactive CLI menus
  inst/artma/climenu/README.md
  inst/artma/climenu/checkbox.R
  inst/artma/climenu/examples.R
  inst/artma/climenu/index.R
  inst/artma/climenu/menu.R
  inst/artma/climenu/select.R
  inst/artma/climenu/utils.R
  tests/testthat/test-climenu.R
Due: artms inst folder

chore: format the climenu submodule
  inst/artma/climenu/README.md
  inst/artma/climenu/checkbox.R
  inst/artma/climenu/menu.R
  inst/artma/climenu/select.R
  inst/artma/climenu/utils.R
Due: artms inst folder

fix: improve keyboard input handling in climenu
  inst/artma/climenu/README.md
  inst/artma/climenu/utils.R
Due: artms inst folder

chore: format the climenu submodule
  DESCRIPTION
  inst/artma/climenu/README.md
  inst/artma/climenu/checkbox.R
  inst/artma/climenu/examples.R
  inst/artma/climenu/index.R
  inst/artma/climenu/menu.R
  inst/artma/climenu/select.R
  inst/artma/climenu/utils.R
  tests/testthat/test-climenu.R
Due: artms inst folder

docs: add climenu package guidance to CLAUDE.md
  CLAUDE.md
Due: none

refactor: replace utils::select.list with climenu::menu
  R/options.R
  R/run.R
  inst/artma/libs/ask.R
  inst/artma/options/ask.R
Due: R, artms inst folder

feat: replace run.sh with Makefile for build tasks
  .make-help.md
  CLAUDE.md
  Makefile
Due: none

docs: update documentation to reflect make commands
  .make-help.md
  AGENTS.md
Due: none

chore: clean build artifacts
  man/artma-package.Rd
  man/config.fix.Rd
  man/dir_create_linter.Rd
  man/dot-onLoad.Rd
  man/dot-onUnload.Rd
  man/get_valid_boxpath.Rd
  man/indentation_guard_clause_linter.Rd
  man/invoke_runtime_methods.Rd
  man/is_devtools_load.Rd
  man/main.Rd
  man/methods.list.Rd
  man/options.copy.Rd
  man/options.create.Rd
  man/options.delete.Rd
  man/options.fix.Rd
  man/options.help.Rd
  man/options.list.Rd
  man/options.load.Rd
  man/options.modify.Rd
  man/options.open.Rd
  man/options.print_default_dir.Rd
  man/options.validate.Rd
  man/run.Rd
  man/runtime_setup.Rd
Due: none

docs: update the .Rd artifacts using roxygen
  man/artma-package.Rd
  man/config.fix.Rd
  man/dir_create_linter.Rd
  man/dot-onLoad.Rd
  man/dot-onUnload.Rd
  man/get_valid_boxpath.Rd
  man/indentation_guard_clause_linter.Rd
  man/invoke_runtime_methods.Rd
  man/is_devtools_load.Rd
  man/main.Rd
  man/methods.list.Rd
  man/options.copy.Rd
  man/options.create.Rd
  man/options.delete.Rd
  man/options.fix.Rd
  man/options.help.Rd
  man/options.list.Rd
  man/options.load.Rd
  man/options.modify.Rd
  man/options.open.Rd
  man/options.print_default_dir.Rd
  man/options.validate.Rd
  man/run.Rd
  man/runtime_setup.Rd
Due: none

fix: add Makefile and related files to .Rbuildignore
  .Rbuildignore
Due: none
