Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

feat(interactive): add hub adjust-options item with staleness-aware data rebuild
  R/artma.R
  contributingGuides/HUB.md
  inst/artma/interactive/hub.R
  man/artma.Rd
  tests/testthat/test-session-hub.R
Due: R, artms inst folder

Deploying to gh-pages from @ PetrCala/artma@468a10907c9812322d85942b673ab62b678f8565 🚀
  pkgdown.yml
  reference/artma.html
  reference/artma.md
  search.json
Due: none

feat(interactive): add hub settings, switch options file, and help submenus
  R/artma.R
  contributingGuides/HUB.md
  inst/artma/interactive/hub.R
  inst/artma/interactive/welcome.R
  tests/testthat/test-session-hub.R
Due: R, artms inst folder

Deploying to gh-pages from @ PetrCala/artma@2846db4cd7fc54f78d3e68ca2dd5c59270173886 🚀
  pkgdown.yml
Due: none

feat(output): add opt-in timestamped run subdirectories
  R/artma.R
  R/generated_check_manifest.R
  contributingGuides/HUB.md
  inst/artma/options/inspect.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/output/export.R
  man/artma.Rd
  man/execute_run.Rd
  man/prepare_run_context.Rd
  tests/testthat/test-output-export.R
  tests/testthat/test-run.R
  vignettes/getting-started.Rmd
Due: R, artms inst folder

test(output): compare run directories with normalized paths
  tests/testthat/test-output-export.R
  tests/testthat/test-run.R
Due: none

Deploying to gh-pages from @ PetrCala/artma@b63c21ece1faf2827fe04b321a579937f7fdecf3 🚀
  articles/getting-started.html
  articles/getting-started.md
  pkgdown.yml
  reference/artma.html
  reference/artma.md
  reference/execute_run.html
  reference/execute_run.md
  reference/prepare_run_context.html
  reference/prepare_run_context.md
  search.json
Due: none

fix(interactive): add missing @return tag and dedupe checkbox labels
  inst/artma/interactive/input.R
  tests/testthat/test-interactive-input.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@915b67b1504f0daae95ea60a83d97dda824ddcb9 🚀
  pkgdown.yml
Due: none

chore(dev): add artma_hub() interactive convenience to .Rprofile
  .Rprofile
Due: none

fix(options): coerce numeric strings for integer options
  inst/artma/options/type_registry.R
  tests/testthat/test-options-type-registry.R
Due: artms inst folder

fix(interactive): stop preselecting methods checkbox on hub Run methods
  contributingGuides/HUB.md
  inst/artma/interactive/hub.R
  tests/testthat/test-session-hub.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@c7dde3984891ce9cd963b173bb81504bb0b7db9d 🚀
  pkgdown.yml
Due: none

Deploying to gh-pages from @ PetrCala/artma@ea4fb95907728e099b63c941d26b5a9fc8868f8f 🚀
  pkgdown.yml
Due: none

Deploying to gh-pages from @ PetrCala/artma@49792b941335f551d399a36d28aa82ed7f400df1 🚀
  pkgdown.yml
Due: none

feat(hub): pick and manage the options file from the session hub
  CLAUDE.md
  R/aaa.R
  R/artma.R
  R/generated_check_manifest.R
  README.md
  contributingGuides/HUB.md
  inst/artma/interactive/hub.R
  inst/artma/interactive/menu.R
  inst/artma/interactive/options_file_menu.R
  man/artma.Rd
  man/runtime_setup.Rd
  man/unbound_runtime_options.Rd
  tests/testthat/test-options-file-menu.R
  tests/testthat/test-session-hub.R
  vignettes/getting-started.Rmd
  vignettes/options-files.Rmd
Due: R, artms inst folder

Deploying to gh-pages from @ PetrCala/artma@488bbc977023d7477ac6bf3b10a382badb60083f 🚀
  CLAUDE.html
  CLAUDE.md
  articles/getting-started.html
  articles/getting-started.md
  articles/options-files.html
  articles/options-files.md
  index.html
  index.md
  llms.txt
  pkgdown.yml
  reference/artma.html
  reference/artma.md
  reference/runtime_setup.html
  reference/runtime_setup.md
  reference/unbound_runtime_options.html
  reference/unbound_runtime_options.md
  search.json
  sitemap.xml
Due: none

feat(hub): persist and auto-restore the last used options file
  R/artma.R
  R/generated_check_manifest.R
  contributingGuides/HUB.md
  inst/artma/interactive/options_file_menu.R
  inst/artma/options/last_used.R
  man/restore_last_options_file.Rd
  tests/testthat/test-options-file-menu.R
  tests/testthat/test-options-last-used.R
  vignettes/getting-started.Rmd
Due: R, artms inst folder

Deploying to gh-pages from @ PetrCala/artma@791b3a945be164de1a78eea3f52d149abc2f7813 🚀
  articles/getting-started.html
  articles/getting-started.md
  pkgdown.yml
  reference/restore_last_options_file.html
  reference/restore_last_options_file.md
  search.json
  sitemap.xml
Due: none

feat(hub): guided create or file picker on unbound entry
  R/artma.R
  contributingGuides/HUB.md
  inst/artma/interactive/hub.R
  inst/artma/interactive/options_file_menu.R
  man/artma.Rd
  tests/testthat/test-options-file-menu.R
  tests/testthat/test-session-hub.R
  vignettes/getting-started.Rmd
Due: R, artms inst folder

test(hub): remember the last used file on an entry bind
  tests/testthat/test-options-file-menu.R
Due: none

Deploying to gh-pages from @ PetrCala/artma@08a856cafcd9e6cc6149d2ecfa3742bd5c621241 🚀
  articles/getting-started.html
  articles/getting-started.md
  pkgdown.yml
  reference/artma.html
  reference/artma.md
  search.json
Due: none

fix(run): skip forking method layers when the BLAS threading runtime is fork-hostile
  inst/artma/modules/method_execution.R
  inst/artma/visualization/fork_safety.R
  tests/testthat/test-method-execution.R
  tests/testthat/test-visualization-fork-safety.R
Due: artms inst folder

Deploying to gh-pages from @ PetrCala/artma@e3d9e28fff1a370bf0d67e49beea969d6aec8827 🚀
  pkgdown.yml
Due: none

fix(visualization): open exported PNGs for plot previews in macOS terminal sessions
  inst/artma/econometric/bma.R
  inst/artma/methods/box_plot.R
  inst/artma/methods/funnel_plot.R
  inst/artma/methods/prima_facie_graphs.R
  inst/artma/methods/t_stat_histogram.R
  inst/artma/visualization/export.R
  tests/testthat/test-visualization-fork-safety.R
  tests/testthat/test-visualization-preview.R
Due: artms inst folder

feat(hub): preview submenu with health panel, column and study profiles
  contributingGuides/HUB.md
  inst/artma/interactive/hub.R
  inst/artma/interactive/preview.R
  tests/testthat/test-interactive-preview.R
  tests/testthat/test-session-hub.R
Due: artms inst folder

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
