Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

fix: declare rjags in Suggests for the RoBMA test guard
  DESCRIPTION
Due: none

feat: add opt-in RoBMA runtime method
  DESCRIPTION
  R/artma.R
  inst/artma/methods/robma.R
  inst/artma/modules/runtime_methods.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-robma.R
  tests/testthat/test-run.R
  tests/testthat/test-runtime-methods.R
Due: R, artms inst folder

ci: install JAGS on macOS and Windows runners for RoBMA
  .github/workflows/R-CMD-check-extended.yaml
  .github/workflows/R-CMD-check.yaml
  tests/testthat/test-robma.R
Due: none

fix: target the RoBMA 4.x API in the robma method
  DESCRIPTION
  inst/artma/methods/robma.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

ci: keep the JAGS installer out of the package directory
  .github/workflows/R-CMD-check-extended.yaml
  .github/workflows/R-CMD-check.yaml
Due: none

fix(effect_summary_stats): default effect column when nothing configured
  inst/artma/methods/effect_summary_stats.R
  tests/testthat/test-effect-summary-stats-integration.R
Due: artms inst folder

fix(options): normalize .yaml suffix when loading options file
  R/options.R
  tests/testthat/test-options.R
Due: R

fix(variable_summary_stats): obs column counts non-missing observations
  inst/artma/methods/variable_summary_stats.R
  tests/testthat/test-variable-summary-stats.R
Due: artms inst folder

fix(output): plain ellipsis, no raw NA cells, label standardized BPE values
  inst/artma/data/compute.R
  inst/artma/econometric/exogeneity.R
  inst/artma/methods/best_practice_estimate.R
Due: artms inst folder

fix: stop false study_id warning on valid string labels (#250)
  inst/artma/data/compute.R
  tests/testthat/test-data-compute.R
Due: artms inst folder

feat(funnel_plot): report filtered observation count in subtitle and output
  R/print.R
  inst/artma/methods/funnel_plot.R
  tests/testthat/test-funnel-plot.R
Due: R, artms inst folder

fix: let column config data_type override type detection (#253)
  inst/artma/interactive/effect_summary_stats.R
  inst/artma/variable/suggestion.R
  tests/testthat/test-variable-suggestion.R
Due: artms inst folder

fix(detection): detect dummy/categorical type even with group_category set
  inst/artma/options/templates/options_template.yaml
  inst/artma/variable/detection.R
  tests/testthat/test-variable-suggestion.R
Due: artms inst folder

docs: regenerate options.load.Rd for suffix normalization
  man/options.load.Rd
Due: none

fix(p_hacking): respecify caliper test as Gerber-Malhotra binomial test
  DESCRIPTION
  README-dev.md
  inst/artma/econometric/p_hacking.R
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

fix(p-hacking): rewrite Cox-Shi against canonical Elliott et al. implementation
  inst/artma/calc/methods/elliott.R
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

docs: add pkgdown site, methods-overview vignette, fix CRAN NOTE
  .Rbuildignore
  .chglog/CHANGELOG.tpl.md
  .gitignore
  DESCRIPTION
  Makefile
  NEWS.md
  _pkgdown.yml
  vignettes/getting-started.Rmd
  vignettes/methods-overview.Rmd
Due: none

style(p_hacking): replace <<- accumulator with an environment
  inst/artma/econometric/p_hacking.R
Due: artms inst folder

style(tests): replace <<- counters with explicit environment assignment
  tests/testthat/modules/testing/fixtures/helper_test_cache.R
  tests/testthat/test-data-prepare-phases.R
Due: none

feat(visualization): add optional interactive HTML plot export
  DESCRIPTION
  inst/artma/options/templates/options_template.yaml
  inst/artma/visualization/export.R
  inst/artma/visualization/index.R
  inst/artma/visualization/options.R
  tests/testthat/test-visualization.R
Due: artms inst folder

perf(linear): hoist cluster split out of bootstrap loop
  inst/artma/econometric/linear.R
Due: artms inst folder

perf(prima_facie_graphs): vectorize group column and median split construction
  inst/artma/methods/prima_facie_graphs.R
Due: artms inst folder

perf(stem): replace O(n^2) outer-product submatrix sums with cumsum
  inst/artma/calc/methods/stem.R
  tests/testthat/test-calc-stem.R
Due: artms inst folder

perf(bpe): split study row indices once instead of rescanning per study
  inst/artma/methods/best_practice_estimate.R
Due: artms inst folder

perf(funnel_plot): split rows by study once in aggregate_study_medians
  inst/artma/methods/funnel_plot.R
Due: artms inst folder
