Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

fix: correct data config import and add integration tests
  inst/artma/methods/effect_summary_stats.R
  tests/testthat/test-effect-summary-stats-integration.R
Due: artms inst folder

fix: display variable reason correctly in suggestion output
  inst/artma/libs/effect_summary_stats_interactive.R
Due: artms inst folder

feat: implement automatic variable suggestion for BMA
  inst/artma/methods/bma.R
  tests/testthat/test-bma-auto-select.R
Due: artms inst folder

feat: add collinearity detection and priority mechanism for BMA variable suggestions
  inst/artma/libs/bma_variable_suggestion.R
  inst/artma/methods/bma.R
  tests/testthat/test-bma-collinearity.R
Due: artms inst folder

chore: remove the effect variable from priority variables
  inst/artma/libs/bma_variable_suggestion.R
Due: artms inst folder

fix: automatically remove aliased variables during BMA analysis
  inst/artma/methods/bma.R
Due: artms inst folder

feat: implement automatic variable suggestion for effect summary stats
  inst/artma/libs/variable_suggestion.R
  tests/testthat/test-variable-suggestion.R
Due: artms inst folder

feat: add interactive variable selection for effect summary stats
  inst/artma/libs/effect_summary_stats_interactive.R
  inst/artma/methods/effect_summary_stats.R
  tests/testthat/test-effect-summary-stats-interactive.R
Due: artms inst folder

chore: remove specific methods from the test file
  scripts/R/test.R
Due: none

feat: add make stats command for repository statistics
  .make-help.md
  Makefile
  scripts/repo-stats.sh
Due: none

feat: add comprehensive missing value handling system with smart prompts
  inst/artma/data/na_handling.R
  inst/artma/data/preprocess.R
  inst/artma/options/prompts.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: add BMS and mice packages to suggested dependencies
  DESCRIPTION
Due: none

chore: remove the explicit an handling option from the test script
  scripts/R/test.R
Due: none

feat: add reusable save preference prompt for configuration choices
  inst/artma/data/preprocess.R
  inst/artma/libs/effect_summary_stats_interactive.R
  inst/artma/libs/save_preference.R
  inst/artma/methods/bma.R
Due: artms inst folder

fix: use full path when saving preferences to options file
  inst/artma/libs/save_preference.R
Due: artms inst folder

feat: enhance optional column computation with comprehensive auto-calculation
  inst/artma/data/compute.R
Due: artms inst folder

fix: add computed columns to data config and suppress misleading warnings
  inst/artma/data/compute.R
  inst/artma/libs/save_preference.R
Due: artms inst folder

feat: add autonomy level system for controlling user interaction
  AGENTS.md
  AUTONOMY_IMPLEMENTATION.md
  CLAUDE.md
  NAMESPACE
  R/autonomy.R
  R/options.R
  README.md
  inst/artma/libs/autonomy.R
  inst/artma/options/prompts.R
  inst/artma/options/templates/options_template.yaml
  man/autonomy.describe.Rd
  man/autonomy.get.Rd
  man/autonomy.is_full.Rd
  man/autonomy.is_set.Rd
  man/autonomy.levels.Rd
  man/autonomy.set.Rd
  tests/testthat/test-autonomy.R
  vignettes/autonomy.Rmd
Due: R, artms inst folder

chore: remove the autonomy implementation readme
  AUTONOMY_IMPLEMENTATION.md
Due: none

fix: correct autonomy level prompt and fixed option resolution
  inst/artma/options/prompts.R
  inst/artma/options/template.R
Due: artms inst folder

chore: remove unused utils files
  utils/too-be-added-to-readme.md
  utils/useful_functions.md
Due: none

refactor: change the MAIVE package version
  DESCRIPTION
  inst/artma/calc/methods/maive.R
Due: artms inst folder

refactor: change the maive installation to use the CRAN version
  DESCRIPTION
Due: none

feat: add functionality for choosing a suitable editor
  R/options.R
  inst/artma/libs/editor.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-libs-editor.R
Due: R, artms inst folder

fix: options edge cases
  R/globals.R
  R/options.R
  man/options.open.Rd
  scripts/R/test.R
Due: R

chore: add a helpful message for automatic editor choice
  R/options.R
  scripts/R/test.R
Due: R

refactor: simplify editor detection
  R/options.R
  inst/artma/libs/editor.R
  inst/artma/options/templates/options_template.yaml
  man/options.open.Rd
  tests/testthat/test-libs-editor.R
Due: R, artms inst folder
