Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

fix(maive): align se option with MAIVE 0.2.4, report effective spec and AR guardrails
  inst/artma/calc/methods/maive.R
  inst/artma/econometric/maive.R
  inst/artma/methods/maive.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-maive.R
Due: artms inst folder

fix(bpe): apply overrides and report estimates on the raw effect scale
  inst/artma/econometric/best_practice_estimate.R
  inst/artma/econometric/bma.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/bma.R
  tests/testthat/test-best-practice-estimate.R
Due: artms inst folder

test(bpe): import expect_gt and expect_lt in box testthat block
  tests/testthat/test-best-practice-estimate.R
Due: none

fix: keep MAIVE pin CRAN-resolvable and gate tests on the runtime floor
  DESCRIPTION
  inst/artma/calc/methods/maive.R
  tests/testthat/test-calc-maive.R
  tests/testthat/test-econometric-maive.R
Due: artms inst folder

fix: require MAIVE 0.2.5 for unrounded estimates
  DESCRIPTION
  inst/artma/calc/methods/maive.R
  tests/testthat/test-econometric-maive.R
Due: artms inst folder

fix(tests): probe an actual JAGS model fit to catch macOS oldrel crash
  tests/testthat/test-robma.R
Due: none

fix(vcov): warn on no-cluster single-step downgrade to stats::vcov()
  inst/artma/econometric/vcov.R
  tests/testthat/test-econometric-vcov.R
Due: artms inst folder

fix(maive): guardrail AR interval when constant N disables instrument
  inst/artma/econometric/maive.R
  tests/testthat/test-econometric-maive.R
Due: artms inst folder

fix: quiet dependency and validation noise in real runs and logs
  R/options.R
  inst/artma/calc/methods/maive.R
  inst/artma/data/preprocess.R
  inst/artma/econometric/bma.R
  inst/artma/libs/infrastructure/cache.R
  inst/artma/methods/robma.R
  inst/artma/modules/runtime_methods.R
Due: R, artms inst folder

feat(fma): add cluster-robust standard errors clustered by study_id
  inst/artma/econometric/fma.R
  inst/artma/methods/fma.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-fma.R
Due: artms inst folder

test: silence expected warnings and result-table noise in test log
  inst/artma/data/schema_reconcile.R
  tests/testthat/modules/testing/fixtures/helper_test_cache.R
  tests/testthat/test-data-auto-detection-confirmation.R
  tests/testthat/test-linear-tests.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
Due: artms inst folder

test: silence remaining namespace, formatter, and vcov/fma test noise
  inst/artma/data/na_handling.R
  tests/testthat/test-econometric-vcov.R
  tests/testthat/test-fma.R
  tests/testthat/test-result-formatters.R
Due: artms inst folder

fix(rng): strip BMS wall-clock reseed and key method RNG streams by name
  DESCRIPTION
  R/artma.R
  R/generated_check_manifest.R
  inst/artma/econometric/bma.R
  inst/artma/modules/method_execution.R
  inst/artma/options/templates/options_template.yaml
  man/artma-package.Rd
  man/artma.Rd
  tests/testthat/test-bms-reproducibility.R
  tests/testthat/test-method-execution.R
  tests/testthat/test-run.R
Due: R, artms inst folder

fix: prime data-config cache when data is passed directly to artma()
  R/artma.R
  R/generated_check_manifest.R
Due: R

chore(docs): restore roxygen2 7.3.3 outputs to match the CI docs pin
  DESCRIPTION
  man/artma-package.Rd
Due: none

build: bump roxygen2 pin to 8.0.0 and regenerate docs
  .github/workflows/lint.yaml
  DESCRIPTION
  man/artma-package.Rd
Due: none

fix(formatting): stop wide summary tables splitting into two blocks
  inst/artma/libs/formatting/results.R
  inst/artma/methods/effect_summary_stats.R
  inst/artma/methods/variable_summary_stats.R
Due: artms inst folder

fix(formatting): apply wide-table print fix to remaining call sites
  inst/artma/econometric/bma.R
  inst/artma/libs/formatting/results.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/methods/robma.R
  inst/artma/output/ma_table.R
Due: artms inst folder

test: silence all interleaved output in parallel test runs
  tests/testthat/setup.R
  tests/testthat/test-cli.R
  tests/testthat/test-econometric-vcov.R
  tests/testthat/test-fma.R
  tests/testthat/test-linear-tests.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
  tests/testthat/test-result-formatters.R
Due: none

ci(lint): run Lint Check on master pushes to seed its dependency cache
  .github/workflows/lint.yaml
Due: none

feat(nonlinear): report effect heterogeneity (tau) for STEM, Hierarchical, and Endogenous Kink
  inst/artma/calc/methods/endo_kink.R
  inst/artma/econometric/nonlinear.R
  tests/testthat/test-calc-endo-kink.R
  tests/testthat/test-nonlinear-tests.R
  tests/testthat/test-summary-table-characterization.R
Due: artms inst folder

fix(bpe): auto-detect dummy predictors for factor summary table
  inst/artma/econometric/best_practice_estimate.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-best-practice-estimate.R
Due: artms inst folder

fix(data): stop treating lowercase na/n-a strings as missing values
  inst/artma/const.R
  tests/testthat/test-data-na-handling.R
  tests/testthat/test-data-read.R
Due: artms inst folder

fix(data): stop strategy no longer aborts on optional-column NAs
  inst/artma/data/configure.R
  inst/artma/data/na_handling.R
  inst/artma/options/prompts.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-configure.R
  tests/testthat/test-data-na-handling.R
Due: artms inst folder
