Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

feat(linear): precheck panel specs and skip with plain-language reasons
  inst/artma/econometric/linear.R
  tests/testthat/test-linear-tests.R
Due: artms inst folder

fix(cache): record base-graphics plots so cached reruns restore them
  inst/artma/visualization/export.R
  tests/testthat/test-cache-signature-components.R
Due: artms inst folder

fix(run): use a fork-safe graphics device so parallel runs can export plots
  inst/artma/modules/method_execution.R
  inst/artma/visualization/export.R
  inst/artma/visualization/fork_safety.R
  tests/testthat/test-method-execution.R
  tests/testthat/test-run.R
  tests/testthat/test-visualization-fork-safety.R
Due: artms inst folder

fix(options): keep the unified column store when migrating legacy options
  inst/artma/options/migrate.R
  tests/testthat/test-options-migration.R
Due: artms inst folder

fix(viz): probe the cairo device instead of trusting capabilities()
  inst/artma/visualization/fork_safety.R
  tests/testthat/test-visualization-fork-safety.R
Due: artms inst folder

fix(p-hacking): orient caliper tail, cluster by study, show direction
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-p-hacking.R
  vignettes/options-files.Rmd
Due: artms inst folder

test(p-hacking): pin Cox-Shi nested-window sensitivity to bin resolution
  inst/artma/econometric/p_hacking.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

fix(p_hacking_tests): keep install/upgrade hints in MAIVE skip reason
  inst/artma/econometric/p_hacking.R
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

test: guard fork-death tests against sequential fallback on cairo-less hosts
  tests/testthat/test-method-execution.R
  tests/testthat/test-run.R
Due: none

fix(exogeneity): fill formatted columns when p-uniform* skips estimation
  inst/artma/econometric/exogeneity.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
Due: artms inst folder

fix(exogeneity): rank IV instruments by first-stage F, drop backwards votes
  inst/artma/econometric/exogeneity.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-econometric-exogeneity.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
Due: artms inst folder

fix(linear): raise bootstrap replications and flag CI/star disagreement
  inst/artma/econometric/linear.R
  inst/artma/methods/linear_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-linear-tests.R
Due: artms inst folder

fix(data): default zero-SE handling to remove-with-warning instead of abort
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  inst/artma/options/prompts.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

fix(exogeneity): stop p-uniform* LRT collapsing to L=0, fall back to P on ML failure
  inst/artma/econometric/exogeneity.R
  inst/artma/methods/exogeneity_tests.R
  tests/testthat/test-econometric-exogeneity.R
Due: artms inst folder

test(exogeneity): fix stale row-count assertion after First-stage F row landed
  tests/testthat/test-methods-p-hacking-exogeneity.R
Due: none

fix(options): stop options rewrites from dropping column records and value shapes
  R/options.R
  inst/artma/data/interactive_mapping.R
  inst/artma/data_config/write.R
  inst/artma/interactive/save_preference.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  tests/testthat/_problems/test-box-testthat-imports-172.R
  tests/testthat/test-data-config-fix.R
  tests/testthat/test-data-interactive-mapping.R
  tests/testthat/test-options-roundtrip.R
  tests/testthat/test-options.R
  tests/testthat/test-save-preference.R
  tests/testthat/testthat-problems.rds
Due: R, artms inst folder

chore: drop stray testthat _problems artifact and ignore it
  .gitignore
  tests/testthat/_problems/test-box-testthat-imports-172.R
  tests/testthat/testthat-problems.rds
Due: none

fix(nonlinear): skip degenerate corner-solution fits instead of tabulating them
  inst/artma/calc/methods/selection_model.R
  inst/artma/calc/methods/stem.R
  inst/artma/econometric/nonlinear.R
  tests/testthat/test-calc-endo-kink.R
  tests/testthat/test-nonlinear-tests.R
Due: artms inst folder

test(e2e): regression check for recently merged method PRs (#293-304)
  tests/E2E/test-recent-methods-regression.R
Due: none

fix(exogeneity): use se^2 as p-uniform* study variance and fix selection threshold
  inst/artma/econometric/exogeneity.R
  tests/testthat/test-econometric-exogeneity.R
Due: artms inst folder

fix(maive): flag weak first-stage instrument and document maive_first_stage
  inst/artma/econometric/p_hacking.R
  inst/artma/options/templates/options_template.yaml
  src-baseline_ci.rds/RcppExports.cpp
  src-baseline_ci.rds/elliott_cdfs.cpp
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

chore: drop stray src-baseline_ci.rds test artifact
  src-baseline_ci.rds/RcppExports.cpp
  src-baseline_ci.rds/elliott_cdfs.cpp
Due: none

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
