Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

chore: add a whitespace to the options template
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

test: fix lint issues, suppress test messages
  inst/artma/testing/load_test_modules.R
Due: artms inst folder

feat: improve option parsing validation and type coercion
  inst/artma/data/utils.R
  inst/artma/options/template.R
Due: artms inst folder

test: fix test fixtures and suites
  inst/artma/testing/fixtures/fixture_colnames.R
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

feat: in data processing, enforce the correct column types and names better
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  scripts/R/test.R
Due: artms inst folder

chore: the mock DF can now use a random vector of integers
  inst/artma/libs/number_utils.R
  inst/artma/testing/mocks/mock_df.R
Due: artms inst folder

chore: remove the unused 'clean.R' module
  inst/artma/data/clean.R
  inst/artma/data/fill.R
Due: artms inst folder

refactor: rewrite data processing into a pipeline
  DESCRIPTION
  R/dummy_functions.R
  inst/artma/data/preprocess.R
  inst/artma/data_config/read.R
Due: R, artms inst folder

feat: add preprocessing methods for column name standardization
  R/globals.R
  inst/artma/data/preprocess.R
  inst/artma/data/utils.R
  inst/artma/data_config/read.R
  inst/artma/data_config/write.R
Due: R, artms inst folder

feat: add further column validation to data preprocessing
  R/globals.R
  inst/artma/data/preprocess.R
  inst/artma/data/utils.R
  inst/artma/testing/mocks/mock_df.R
  inst/artma/testing/mocks/mock_options.R
  scripts/R/test.R
  tests/testthat/test-data-preprocess.R
Due: R, artms inst folder

fix: add a couple of objects to the globals list
  R/globals.R
Due: R

feat: deprecate the column standardization
  inst/artma/data/preprocess.R
  inst/artma/data/read.R
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/testing/mocks/mock_df.R
  inst/artma/testing/mocks/mock_options.R
  scripts/R/test.R
  tests/testthat/test-data-preprocess.R
Due: artms inst folder

test: improve the mock function for generating a data frame
  inst/artma/testing/mocks/mock_df.R
  inst/artma/testing/mocks/mock_utils.R
Due: artms inst folder

fix: fix an import error
  inst/artma/data/index.R
Due: artms inst folder

chore: add an explicit warning message for when a use provides non-standard values unexpectedly
  inst/artma/options/template.R
Due: artms inst folder

chore: slightly modify column name handling in data preprocessing
  inst/artma/data/preprocess.R
Due: artms inst folder

chore: minor changes to the data preprocessing functions
  R/globals.R
  inst/artma/data/compute.R
  inst/artma/data/index.R
Due: R, artms inst folder

chore: remove the capital case package name from around the project
  R/main.R
  R/methods.R
  R/run.R
  README-dev.md
  README.md
  inst/artma/options/templates/options_template.yaml
  scripts/package.sh
Due: R, artms inst folder

feat: rename reg_df -> reg_dof
  inst/artma/data/compute.R
  inst/artma/options/templates/options_template.yaml
  scripts/R/test.R
Due: artms inst folder

feat: add a utility function for calculating study sizes
  R/globals.R
  inst/artma/data/compute.R
  inst/artma/data/utils.R
Due: R, artms inst folder

test: the mock df function can now create a subset of the expected columns
  inst/artma/testing/mocks/mock_df.R
Due: artms inst folder

fix: add missing explicit package imports back to the DESCRIPTION file
  DESCRIPTION
Due: none

test: add a helper test script
  scripts/R/test.R
Due: none

chore: release v0.2.1
  DESCRIPTION
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

docs: update NEWS.md for v0.2.1
  NEWS.md
Due: none

chore: replace three dots with a single character
  R/options.R
  R/run.R
  inst/artma/data/compute.R
  inst/artma/data_config/read.R
  inst/artma/data_config/write.R
  inst/artma/libs/modules.R
  inst/artma/libs/validation.R
  inst/artma/options/ask.R
  scripts/R/env.R
  scripts/R/fix_options.R
Due: R, artms inst folder

feat: implement the variable summary stats method
  inst/artma/const.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

feat: add the option to choose verbosity
  R/globals.R
  README.md
  inst/artma/data_config/parse.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/index.R
  inst/artma/options/templates/options_template.yaml
Due: R, artms inst folder

feat: control for verbosity in all of the existing cli logs
  R/aaa.R
  R/main.R
  R/methods.R
  R/options.R
  R/run.R
  inst/artma/calc/meta.R
  inst/artma/calc/pcc.R
  inst/artma/data/compute.R
  inst/artma/data/fill.R
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  inst/artma/data_config/parse.R
  inst/artma/data_config/read.R
  inst/artma/data_config/write.R
  inst/artma/libs/file_utils.R
  inst/artma/libs/modules.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/prompts.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/testing/mocks/mock_df.R
Due: R, artms inst folder

fix: remove non-ascii characters
  R/options.R
  R/run.R
Due: R

feat: add an option to select how many decimal places to round the output to
  inst/artma/methods/variable_summary_stats.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

refactor: single out the function for printing options help text
  R/globals.R
  R/options.R
  inst/artma/options/template.R
  inst/artma/options/templates/options_template.yaml
  inst/artma/options/utils.R
Due: R, artms inst folder

feat: add a caching system
  R/globals.R
  inst/artma/const.R
  inst/artma/libs/cache.R
  inst/artma/paths.R
  inst/artma/testing/mocks/mock_df.R
Due: R, artms inst folder

feat: add caching to the variable summary stats function
  inst/artma/methods/variable_summary_stats.R
Due: artms inst folder

feat: add cache packages and test suites
  DESCRIPTION
  R/dummy_functions.R
  README-dev.md
  inst/artma/libs/cache.R
  inst/artma/paths.R
  tests/testthat/helper-fixtures.R
  tests/testthat/helper-test-cache.R
  tests/testthat/test-libs-cache.R
Due: R, artms inst folder

feat: implement the custom caching functions and add test suites
  R/globals.R
  inst/artma/libs/cache.R
  inst/artma/libs/modules.R
  tests/testthat/test-libs-cache.R
Due: R, artms inst folder

test: silence the test motivation messages
  tests/testthat.R
Due: none

feat: add an explicit wrapper function for fetching cached artifacts
  R/globals.R
  inst/artma/libs/cache.R
  tests/testthat/test-libs-cache.R
Due: R, artms inst folder

test: fix the rest of the cache tests
  inst/artma/libs/cache.R
  tests/testthat/test-libs-cache.R
Due: artms inst folder

docs: minor changes
  inst/artma/libs/cache.R
Due: artms inst folder
