Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

fix: drop unused fs Suggests dependency and its dir_create lint rule
  .lintr.R
  DESCRIPTION
  scripts/R/release.R
  scripts/linters.R
  tests/testthat/test-dir_create_linter.R
  tests/testthat/test-run.R
Due: none

test(econometric): add shared robust_vcov helper with characterization tests
  inst/artma/econometric/vcov.R
  tests/testthat/test-econometric-vcov.R
Due: artms inst folder

refactor(econometric): route four vcov ladders through shared robust_vcov
  inst/artma/econometric/exogeneity.R
  inst/artma/econometric/linear.R
  inst/artma/methods/best_practice_estimate.R
Due: artms inst folder

refactor: unify weak-instrument F threshold constant in exogeneity.R
  inst/artma/econometric/maive.R
Due: artms inst folder

perf(methods): cache only expensive stages via cached opt-in on register_runtime_method
  inst/artma/methods/bma.R
  inst/artma/methods/robma.R
  inst/artma/modules/runtime_methods.R
  tests/testthat/test-cache-signature-components.R
  tests/testthat/test-runtime-methods.R
Due: artms inst folder

refactor(visualization): unify plot export and tick-interval math
  inst/artma/econometric/nonlinear.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/box_plot.R
  inst/artma/methods/funnel_plot.R
  inst/artma/methods/prima_facie_graphs.R
  inst/artma/methods/t_stat_histogram.R
  inst/artma/visualization/export.R
  inst/artma/visualization/ticks.R
  tests/testthat/test-best-practice-estimate.R
  tests/testthat/test-box-plot-study-label.R
  tests/testthat/test-funnel-plot.R
  tests/testthat/test-nonlinear-tests.R
  tests/testthat/test-prima-facie-graphs.R
  tests/testthat/test-t-stat-histogram.R
Due: artms inst folder

feat(data): reconcile column-mapping conflicts and give actionable collision errors
  R/data_config.R
  inst/artma/const.R
  inst/artma/data/schema_reconcile.R
  inst/artma/data/utils.R
  inst/artma/options/templates/options_template.yaml
  man/config.set.Rd
  tests/testthat/test-data-config-defaults.R
  tests/testthat/test-data-schema-reconcile.R
  tests/testthat/test-data-utils.R
Due: R, artms inst folder

test(funnel-plot): import expect_setequal via box::use
  tests/testthat/test-funnel-plot.R
Due: none

refactor(formatting): consolidate nonlinear formatting helpers into shared modules
  inst/artma/calc/index.R
  inst/artma/calc/meta.R
  inst/artma/econometric/nonlinear.R
  inst/artma/libs/formatting/results.R
  tests/testthat/test-calc-meta.R
  tests/testthat/test-nonlinear-tests.R
  tests/testthat/test-result-formatters.R
Due: artms inst folder

refactor(data): move na/se-zero configure resolvers into data/configure.R
  R/artma.R
  R/generated_check_manifest.R
  inst/artma/data/configure.R
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  tests/testthat/test-data-configure.R
  tests/testthat/test-data-preprocess.R
Due: R, artms inst folder

refactor(data): drop dead interactive branch, move column mapping persistence
  inst/artma/data/index.R
  inst/artma/data/interactive_mapping.R
  inst/artma/data/utils.R
  inst/artma/data_config/column_mapping.R
  inst/artma/data_config/resolve.R
  tests/testthat/test-data-config-resolve.R
  tests/testthat/test-data-interactive-mapping.R
  tests/testthat/test-data-utils.R
  tests/testthat/test-options-template-parity.R
  tests/testthat/test-schema-reconcile-integration.R
Due: artms inst folder

test(e2e): add PR-gate smoke job on a tiny fixture dataset
  .github/workflows/R-CMD-check.yaml
  tests/E2E/fixtures/smoke_data.csv
  tests/E2E/test-smoke.R
Due: none

ci: extract composite setup-jags action, dedupe across workflows
  .github/actions/setup-jags/action.yml
  .github/workflows/R-CMD-check-extended.yaml
  .github/workflows/R-CMD-check.yaml
Due: none

docs: add box to R namespace migration plan (issue 322 item F1)
  box-to-r-migration-plan.md
Due: none

refactor(options): share one option type registry across coerce and validate
  inst/artma/options/template.R
  inst/artma/options/type_registry.R
  inst/artma/options/utils.R
  tests/testthat/test-options-type-registry.R
Due: artms inst folder

refactor(data): extract shared column profiler into data/profile.R
  inst/artma/data/column_recognition.R
  inst/artma/data/na_handling.R
  inst/artma/data/profile.R
  inst/artma/variable/detection.R
  inst/artma/variable/suggestion.R
  tests/testthat/test-data-profile.R
Due: artms inst folder

chore: delete unused polyfills module and its test
  inst/artma/libs/infrastructure/polyfills.R
  tests/testthat/test-polyfills.R
Due: artms inst folder

fix: force sequential execution when already inside a forked worker
  inst/artma/calc/methods/elliott.R
  inst/artma/modules/method_execution.R
Due: artms inst folder

docs(ci): clarify manifest staleness check already gates PRs
  .github/workflows/lint.yaml
Due: none

test: cover nested-fork guard in resolve_worker_count and simulate_cdfs_parallel
  tests/testthat/test-elliott-simulate-cdfs.R
  tests/testthat/test-method-execution.R
Due: none

fix(data): import get_verbosity in standardize_column_names, update stale test calls
  inst/artma/data/utils.R
  tests/testthat/test-data-utils.R
Due: artms inst folder

chore: exclude box-to-r-migration-plan.md from the built package
  .Rbuildignore
Due: none

fix: restore RoxygenNote 7.3.3 and man page dropped by roxygen 8 regeneration
  DESCRIPTION
  man/artma-package.Rd
Due: none

refactor(visualization): drop ggtext, use plain element_text for ticks
  DESCRIPTION
  R/generated_check_manifest.R
  inst/artma/visualization/theme.R
  inst/artma/visualization/ticks.R
  man/artma-package.Rd
Due: R, artms inst folder

Path conditions:
  R: any of: R/
  artms inst folder: any of: inst/artma/
