Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

refactor: update the rest of the methods modules
  .lintr.R
  R/options.R
  R/zzz.R
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/endo_kink.R
  inst/artma/calc/methods/selection_model.R
  inst/artma/calc/methods/stem.R
  tests/testthat/test-methods-stem.R
Due: R, artms inst folder

refactor: fix lint issues and test suite issues for the custom methods
  DESCRIPTION
  README-dev.md
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/endo_kink.R
  inst/artma/calc/methods/selection_model.R
  inst/artma/calc/methods/stem.R
  tests/testthat/test-methods-elliott.R
  tests/testthat/test-methods-endo-kink.R
  tests/testthat/test-methods-selection-model.R
  tests/testthat/test-methods-stem.R
Due: artms inst folder

chore: update imports
  tests/testthat/test-run.R
Due: none

refactor: finish the custom linear/nonlinear methods migration
  R/methods.R
  R/run.R
  R/zzz.R
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/endo_kink.R
  inst/artma/calc/methods/selection_model.R
  inst/artma/calc/methods/stem.R
  inst/artma/data/fill.R
  inst/artma/data/utils.R
  tests/testthat/test-methods-elliott.R
  tests/testthat/test-methods-endo-kink.R
  tests/testthat/test-methods-selection-model.R
  tests/testthat/test-methods-stem.R
Due: R, artms inst folder

refactor: port legacy methods with regression tests
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/methods/endo_kink.R
  inst/artma/calc/methods/selection_model.R
  inst/artma/calc/methods/stem.R
  tests/testthat/test-methods-elliott.R
  tests/testthat/test-methods-endo-kink.R
  tests/testthat/test-methods-selection-model.R
  tests/testthat/test-methods-stem.R
Due: artms inst folder

feat: add linear regression diagnostics method
  DESCRIPTION
  inst/artma/libs/linear_tests.R
  inst/artma/methods/linear_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-linear-tests.R
Due: artms inst folder

fix: align linear tests runtime behaviour
  AGENTS.md
  inst/artma/libs/linear_tests.R
  inst/artma/methods/linear_tests.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-linear-tests.R
Due: artms inst folder

refactor: fix the linear tests output
  inst/artma/libs/linear_tests.R
  inst/artma/methods/linear_tests.R
  scripts/R/test.R
Due: artms inst folder

chore: let go of the non-existent cli print table function
  inst/artma/methods/linear_tests.R
Due: artms inst folder

chore: update the utils source code to point to the non-linear tests for llm models to read
  utils/src/source.R
Due: none

fix: tidy linear tests output table formatting
  inst/artma/methods/linear_tests.R
Due: artms inst folder

fix: improve linear tests summary output
  inst/artma/libs/linear_tests.R
  inst/artma/methods/linear_tests.R
Due: artms inst folder

chore: update the way the linear output table is printed
  inst/artma/methods/linear_tests.R
Due: artms inst folder

test: move methods legacy parity to e2e suite
  tests/E2E/test-methods-legacy-parity.R
  tests/testthat/test-methods-elliott.R
  tests/testthat/test-methods-endo-kink.R
  tests/testthat/test-methods-selection-model.R
  tests/testthat/test-methods-stem.R
Due: none

chore: format the newly added e2e legacy tests
  tests/E2E/test-methods-legacy-parity.R
Due: none

perf: cache linear bootstrap resamples
  inst/artma/libs/linear_tests.R
Due: artms inst folder

chore: hide the linear methods output row names
  inst/artma/methods/linear_tests.R
Due: artms inst folder

feat: allow configuring runtime method order
  R/run.R
  inst/artma/const.R
Due: R, artms inst folder

test: fix broken run module tests
  tests/testthat/test-run.R
Due: none

feat: add non-linear publication bias diagnostics
  inst/artma/calc/methods/maive.R
  inst/artma/libs/linear_tests.R
  inst/artma/libs/nonlinear_tests.R
  inst/artma/libs/test_formatting.R
  inst/artma/methods/nonlinear_tests.R
  inst/artma/options/templates/options_template.yaml
Due: artms inst folder

chore: rename the result formatters
  inst/artma/libs/linear_tests.R
  inst/artma/libs/nonlinear_tests.R
  inst/artma/libs/result_formatters.R
Due: artms inst folder

test: fix the run module tests
  tests/testthat/test-run.R
Due: none

chore: add the nonlinear methods to const sets; minor fixes
  inst/artma/const.R
  inst/artma/methods/nonlinear_tests.R
  scripts/R/test.R
Due: artms inst folder

fix: the p-value significance mark formatting is now more robust
  inst/artma/libs/result_formatters.R
  tests/testthat/test-result-formatters.R
Due: artms inst folder

chore: silence the bayesm rhier linear model output
  inst/artma/libs/nonlinear_tests.R
Due: artms inst folder
