Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

fix: replace literal unicode escape text with ascii equivalents
  inst/artma/options/template.R
  man/artma-package.Rd
  tests/testthat/test-data-preprocess.R
  tests/testthat/test-data-schema-reconcile.R
  tests/testthat/test-schema-reconcile-integration.R
Due: artms inst folder

chore: repo hygiene sweep for bot keys, revdep, utils, and dead scripts
  .Rbuildignore
  .Rprofile
  .github/actions/composite/setupGitForArtmaBot/action.yaml
  .github/secrets/README.md
  .github/secrets/artma-bot-private-key.asc.gpg
  .github/secrets/artma-bot-ssh-key.gpg
  .lintr.R
  .make-help.md
  CLAUDE.md
  README-dev.md
  revdep/.gitignore
  scripts/mergeAndPush.sh
  scripts/mergePR.sh
  scripts/openPR.sh
  scripts/test.sh
  utils/README.md
  utils/inspiration/Screenshot 2024-08-16 at 9.37.38.png
  utils/inspiration/Screenshot 2024-08-16 at 9.38.03.png
  utils/inspiration/Screenshot 2024-08-16 at 9.38.19.png
  utils/inspiration/Screenshot 2025-01-23 at 10.59.56.png
  utils/links.txt
  utils/rmarkdown_cheatsheet.pdf
  utils/too-be-added-to-readme.md
  utils/useful_functions.md
Due: none

chore: delete dead libs code and unused polyfills
  R/globals.R
  inst/artma/libs/core/string.R
  inst/artma/libs/core/utils.R
  inst/artma/libs/core/validation.R
  inst/artma/libs/infrastructure/cache.R
  inst/artma/libs/infrastructure/debug.R
  inst/artma/libs/infrastructure/polyfills.R
  tests/testthat/test-polyfills.R
Due: R, artms inst folder

fix: honor the cache TTL option and add a template-to-code option parity test
  inst/artma/libs/infrastructure/cache.R
  inst/artma/options/templates/options_template.yaml
  tests/testthat/test-libs-cache.R
  tests/testthat/test-options-template-parity.R
Due: artms inst folder

build: move lintr, NlcOptim, and plm from Imports to Suggests with call-site gating
  .lintr.R
  DESCRIPTION
  NAMESPACE
  R/zzz.R
  inst/artma/calc/methods/elliott.R
  inst/artma/econometric/linear.R
  man/dir_create_linter.Rd
  man/indentation_guard_clause_linter.Rd
  man/unicode_escape_linter.Rd
  scripts/linters.R
  tests/testthat/helper-linters.R
  tests/testthat/test-dir_create_linter.R
  tests/testthat/test-indentation_guard_clause_linter.R
  tests/testthat/test-linear-tests.R
Due: R, artms inst folder

chore: delete dead analysis code and drop metafor dependency
  DESCRIPTION
  R/dummy_functions.R
  inst/artma/calc/methods/elliott.R
  inst/artma/calc/pcc.R
  inst/artma/data/fill.R
  inst/artma/econometric/bma.R
  tests/testthat/test-bma.R
Due: R, artms inst folder

refactor: replace the cli replay cache layer with plain memoise
  R/globals.R
  README-dev.md
  inst/artma/libs/infrastructure/cache.R
  tests/testthat/test-libs-cache.R
Due: R, artms inst folder

refactor: unify file-read dispatch and post-read normalization
  DESCRIPTION
  R/data_preview.R
  R/globals.R
  inst/artma/const.R
  inst/artma/data/normalize.R
  inst/artma/data/preprocess.R
  inst/artma/data/read.R
  inst/artma/data/smart_detection.R
  inst/artma/options/column_preprocessing.R
  tests/testthat/test-data-preview.R
  tests/testthat/test-data-read.R
  tests/testthat/test-data-smart-detection.R
Due: R, artms inst folder

refactor: collapse the 5-level autonomy system into a 3-value enum
  CLAUDE.md
  NAMESPACE
  R/autonomy.R
  R/globals.R
  inst/artma/const.R
  inst/artma/data/interactive_mapping.R
  inst/artma/data/schema_reconcile.R
  inst/artma/interactive/ask.R
  inst/artma/interactive/box_plot.R
  inst/artma/interactive/effect_summary_stats.R
  inst/artma/interactive/prima_facie_graphs.R
  inst/artma/interactive/save_preference.R
  inst/artma/libs/core/autonomy.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/bma.R
  inst/artma/methods/box_plot.R
  inst/artma/methods/prima_facie_graphs.R
  inst/artma/options/prompts.R
  inst/artma/options/templates/options_template.yaml
  man/autonomy.describe.Rd
  man/autonomy.get.Rd
  man/autonomy.is_full.Rd
  man/autonomy.levels.Rd
  man/autonomy.set.Rd
  tests/testthat/test-autonomy.R
  tests/testthat/test-best-practice-estimate.R
  tests/testthat/test-options.R
Due: R, artms inst folder

refactor: make options.load pure and parse the options template once
  R/aaa.R
  R/options.R
  inst/artma/options/template.R
  man/offer_options_fix.Rd
  tests/testthat/test-options-template-parity.R
  tests/testthat/test-options.R
Due: R, artms inst folder

refactor: unify required, reserved, and computed column name lists
  inst/artma/const.R
  inst/artma/data/column_recognition.R
  inst/artma/data/preprocess.R
  inst/artma/data/utils.R
  inst/artma/data_config/defaults.R
  inst/artma/interactive/effect_summary_stats.R
  inst/artma/methods/box_plot.R
  inst/artma/variable/detection.R
  inst/artma/variable/suggestion.R
  tests/testthat/test-data-compute.R
  tests/testthat/test-variable-suggestion.R
Due: artms inst folder

refactor: add shared method registration helper and standard return contract
  CLAUDE.md
  R/artma.R
  R/print.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/bma.R
  inst/artma/methods/box_plot.R
  inst/artma/methods/effect_summary_stats.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/methods/fma.R
  inst/artma/methods/funnel_plot.R
  inst/artma/methods/linear_tests.R
  inst/artma/methods/nonlinear_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/methods/prima_facie_graphs.R
  inst/artma/methods/t_stat_histogram.R
  inst/artma/methods/variable_summary_stats.R
  inst/artma/modules/runtime_methods.R
  inst/artma/output/export.R
  tests/testthat/test-best-practice-estimate.R
  tests/testthat/test-box-plot-study-label.R
  tests/testthat/test-effect-summary-stats-integration.R
  tests/testthat/test-effect-summary-stats.R
  tests/testthat/test-funnel-plot.R
  tests/testthat/test-linear-tests.R
  tests/testthat/test-nonlinear-tests.R
  tests/testthat/test-run.R
  tests/testthat/test-t-stat-histogram.R
Due: R, artms inst folder

refactor: declarative method metadata replacing execution order and dependency plumbing
  CLAUDE.md
  R/artma.R
  R/globals.R
  inst/artma/const.R
  inst/artma/methods/best_practice_estimate.R
  inst/artma/methods/bma.R
  inst/artma/methods/box_plot.R
  inst/artma/methods/effect_summary_stats.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/methods/fma.R
  inst/artma/methods/funnel_plot.R
  inst/artma/methods/linear_tests.R
  inst/artma/methods/nonlinear_tests.R
  inst/artma/methods/p_hacking_tests.R
  inst/artma/methods/prima_facie_graphs.R
  inst/artma/methods/t_stat_histogram.R
  inst/artma/modules/runtime_methods.R
  man/artma-package.Rd
  man/invoke_runtime_methods.Rd
  man/prompt_install_missing_packages.Rd
  tests/testthat/test-run.R
  tests/testthat/test-runtime-methods.R
Due: R, artms inst folder

refactor: strict option access and fail-loud coercion
  NEWS.md
  R/data_config.R
  inst/artma/data/cache_signatures.R
  inst/artma/data/read.R
  inst/artma/data/schema_reconcile.R
  inst/artma/data/utils.R
  inst/artma/data_config/read.R
  inst/artma/data_config/resolve.R
  inst/artma/data_config/utils.R
  inst/artma/data_config/write.R
  inst/artma/interactive/save_preference.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/methods/linear_tests.R
  inst/artma/methods/nonlinear_tests.R
  inst/artma/options/index.R
  inst/artma/options/significance_marks.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/output/export.R
  tests/testthat/test-options-significance-marks.R
  tests/testthat/test-options-strict.R
Due: R, artms inst folder

refactor: split prepare_data into configure, compute, and persist phases
  R/artma.R
  R/globals.R
  inst/artma/data/cache_signatures.R
  inst/artma/data/compute.R
  inst/artma/data/index.R
  inst/artma/data/preprocess.R
  tests/testthat/test-data-cache-signature.R
  tests/testthat/test-data-prepare-phases.R
Due: R, artms inst folder

refactor: consolidate R CMD check workarounds into one generated manifest
  CLAUDE.md
  Makefile
  R/dummy_functions.R
  R/generated_check_manifest.R
  R/zzz.R
  scripts/R/generate_check_manifest.R
  tests/testthat/test-generated-check-manifest.R
Due: R

chore: regenerate check manifest and docs after rebase onto master
  man/artma-package.Rd
Due: none

chore: regenerate check manifest after second rebase onto master
  R/generated_check_manifest.R
Due: R

ci: consolidate test workflows and add gated E2E job
  .github/workflows/test-e2e.yaml
Due: none

ci: remove temporary validation trigger from e2e workflow
  .github/workflows/test-e2e.yaml
Due: none

build: move test scaffolding out of the installed package
  inst/artma/data/mock.R
  inst/artma/libs/core/number.R
  inst/artma/options/template.R
  inst/artma/paths.R
  inst/artma/testing/fixtures/index.R
  inst/artma/testing/load_test_modules.R
  inst/artma/testing/mocks/index.R
  inst/artma/testing/mocks/mock_utils.R
  inst/artma/testing/reporters.R
  inst/artma/testing/test_utils.R
  scripts/R/test_example.R
  tests/testthat/modules/testing/fixtures/helper_colnames.R
  tests/testthat/modules/testing/fixtures/helper_test_cache.R
  tests/testthat/modules/testing/fixtures/index.R
  tests/testthat/modules/testing/mocks/index.R
  tests/testthat/modules/testing/mocks/mock_options.R
  tests/testthat/setup.R
  tests/testthat/test-data-cache-signature.R
  tests/testthat/test-data-config-resolve.R
  tests/testthat/test-data-index.R
  tests/testthat/test-data-prepare-phases.R
  tests/testthat/test-data-utils.R
  tests/testthat/test-libs-cache.R
  tests/testthat/test-options-template-parity.R
Due: artms inst folder
