Repository PetrCala/artma: changes, and which Codecov flags are due for each by the changed paths.
All: R, artms inst folder

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: R
      name: R
      paths:
        - R/
    - component_id: inst
      name: artms inst folder
      paths:
        - inst/artma/

build: move test scaffolding out of the installed package
  inst/artma/data/mock.R
  inst/artma/libs/core/number.R
  inst/artma/options/template.R
  inst/artma/paths.R
  inst/artma/testing/fixtures/index.R
  inst/artma/testing/load_test_modules.R
  inst/artma/testing/mocks/index.R
  inst/artma/testing/mocks/mock_utils.R
  inst/artma/testing/reporters.R
  inst/artma/testing/test_utils.R
  scripts/R/test_example.R
  tests/testthat/modules/testing/fixtures/helper_colnames.R
  tests/testthat/modules/testing/fixtures/helper_test_cache.R
  tests/testthat/modules/testing/fixtures/index.R
  tests/testthat/modules/testing/mocks/index.R
  tests/testthat/modules/testing/mocks/mock_options.R
  tests/testthat/setup.R
  tests/testthat/test-data-cache-signature.R
  tests/testthat/test-data-config-resolve.R
  tests/testthat/test-data-index.R
  tests/testthat/test-data-prepare-phases.R
  tests/testthat/test-data-utils.R
  tests/testthat/test-libs-cache.R
  tests/testthat/test-options-template-parity.R
Due: artms inst folder

test: cover p_hacking and exogeneity estimators with value-level assertions
  inst/artma/econometric/p_hacking.R
  tests/testthat/helper-mocking.R
  tests/testthat/test-econometric-exogeneity.R
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

test: cover calc estimators, output export, and visualization subsystems
  tests/testthat/test-calc-endo-kink.R
  tests/testthat/test-calc-maive.R
  tests/testthat/test-calc-selection-model.R
  tests/testthat/test-calc-stem.R
  tests/testthat/test-output-export.R
  tests/testthat/test-visualization.R
Due: none

test: cover interactive modules, method wrappers, and injectable autonomy gate
  inst/artma/libs/core/autonomy.R
  tests/testthat/test-autonomy.R
  tests/testthat/test-effect-summary-stats-integration.R
  tests/testthat/test-interactive.R
  tests/testthat/test-methods-p-hacking-exogeneity.R
Due: artms inst folder

chore: remove post-refactor cruft and refresh stale docs
  AGENTS.md
  CLAUDE.md
  NEWS.md
  README-dev.md
  inst/artma/data_config/index.R
  inst/artma/interactive/box_plot.R
  inst/artma/methods/box_plot.R
Due: artms inst folder

docs: slim CLAUDE.md to durable truths and add pre-commit checklist
  CLAUDE.md
Due: none

test: consolidate redundant tests and strengthen assertion-light cases
  tests/testthat/test-bma-auto-select.R
  tests/testthat/test-bma-collinearity.R
  tests/testthat/test-bma.R
  tests/testthat/test-data-compute.R
  tests/testthat/test-data-config-defaults.R
  tests/testthat/test-data-preview.R
  tests/testthat/test-data-read.R
  tests/testthat/test-data-schema-reconcile.R
  tests/testthat/test-effect-summary-stats-integration.R
  tests/testthat/test-effect-summary-stats-interactive.R
  tests/testthat/test-elliott-simulate-cdfs.R
  tests/testthat/test-funnel-plot.R
  tests/testthat/test-options-column-preprocessing.R
  tests/testthat/test-options-significance-marks.R
  tests/testthat/test-t-stat-histogram.R
  tests/testthat/test-variable-suggestion.R
Due: none

fix: draw mock standard errors from a strictly positive range
  inst/artma/data/mock.R
Due: artms inst folder

fix: prevent bma/best_practice_estimate crash on small BMA models
  inst/artma/econometric/bma.R
Due: artms inst folder

docs: rewrite README to match the current API and method architecture
  README.md
Due: none

refactor: remove dead functions, unused imports and unreachable branches
  R/artma.R
  R/zzz.R
  inst/artma/calc/dof.R
  inst/artma/data/column_recognition.R
  inst/artma/data/preprocess.R
  inst/artma/econometric/exogeneity.R
  inst/artma/econometric/linear.R
  inst/artma/libs/core/file.R
  inst/artma/modules/index.R
  inst/artma/modules/utils.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/visualization/options.R
Due: R, artms inst folder

refactor: vectorize row-wise loops and hoist repeated computation
  inst/artma/data/column_recognition.R
  inst/artma/data/compute.R
  inst/artma/data/na_handling.R
  inst/artma/data/smart_detection.R
  inst/artma/econometric/exogeneity.R
  inst/artma/econometric/linear.R
  inst/artma/methods/variable_summary_stats.R
Due: artms inst folder

refactor: restore stats imports used via formula environments, with comment
  inst/artma/econometric/exogeneity.R
  inst/artma/econometric/linear.R
Due: artms inst folder

refactor: extract shared helpers for duplicated logic
  inst/artma/data/na_handling.R
  inst/artma/interactive/effect_summary_stats.R
  inst/artma/libs/core/string.R
  inst/artma/libs/formatting/results.R
  inst/artma/methods/exogeneity_tests.R
  inst/artma/methods/funnel_plot.R
  inst/artma/methods/linear_tests.R
  inst/artma/methods/nonlinear_tests.R
  inst/artma/methods/t_stat_histogram.R
  inst/artma/variable/detection.R
  inst/artma/variable/suggestion.R
  inst/artma/visualization/ticks.R
Due: artms inst folder

refactor: simplify non-idiomatic constructs and reuse significance_mark
  R/viz.R
  inst/artma/data/mock.R
  inst/artma/econometric/p_hacking.R
  inst/artma/libs/infrastructure/polyfills.R
Due: R, artms inst folder

docs: drop Rd for removed internal helper
  man/is_devtools_load.Rd
Due: none

style: apply styler to touched files
  inst/artma/data/compute.R
  inst/artma/econometric/exogeneity.R
  inst/artma/libs/core/file.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/variable/detection.R
  inst/artma/variable/suggestion.R
Due: artms inst folder

build: require R >= 4.4.0 for base %||% and drop redundant local definition
  DESCRIPTION
  inst/artma/data/column_recognition.R
Due: artms inst folder

refactor: remove dead functions, unused imports and unreachable branches
  R/artma.R
  R/zzz.R
  inst/artma/calc/dof.R
  inst/artma/data/preprocess.R
  inst/artma/econometric/exogeneity.R
  inst/artma/econometric/linear.R
  inst/artma/libs/core/file.R
  inst/artma/modules/index.R
  inst/artma/modules/utils.R
  inst/artma/options/template.R
  inst/artma/options/utils.R
  inst/artma/visualization/options.R
Due: R, artms inst folder

fix: align LCM defaults and wire chunk_size option in p_hacking_tests
  inst/artma/econometric/p_hacking.R
  inst/artma/methods/p_hacking_tests.R
  tests/testthat/test-econometric-p-hacking.R
Due: artms inst folder

feat: attach STEM funnel and MSE plots to nonlinear_tests output
  inst/artma/econometric/nonlinear.R
  inst/artma/methods/nonlinear_tests.R
  tests/testthat/test-nonlinear-tests.R
Due: artms inst folder

feat: add BMA prior-comparison plot for multiple parameter sets
  inst/artma/econometric/bma.R
  inst/artma/methods/bma.R
  tests/testthat/test-bma.R
Due: artms inst folder
